<%= render 'shared/navbar' %>
<div class="container mt-4 mb-4">
    <h2>Paniers de la <%= link_to vente_path(@vente) do %>vente de <%= @vente.vente_point.nom %> du <%= @vente.date.strftime("%d/%m") %><% end %></h2>
  <div class="box-recolter">
    <div>
      <%= image_tag "recolte.png", id: "recolte-img" %>
    </div>
    <div>
      <h2>À récolter</h2>
      <ul>
        <% @arecolter.each do |legume, detail| %>
        <li>
          <%= legume %> : <%= rem_trailing_zero(detail[:quantite]) %> <%= detail[:unite] != "kg" ? detail[:unite].pluralize : detail[:unite] %>
        </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
<div class="container mt-4">
  <div class="tous-paniers-index">
    <div class="cadres-paniers">
      <% counter = 0 %>
      <% @paniers.sort_by(&:prix_ttc).first(3).each do |panier| %>
        <div class="cadre-paniers-pointvente">
          <div class="titre-cadre-paniers">
            <%= panier.prix_ttc.to_i %> € (<%= panier.quantite %> <%= panier.quantite > 1 ? "panier".pluralize : "panier" %>)
            <% if panier.valide == false %>
              <%= link_to edit_vente_panier_path(@vente, panier) do %>
                <i class="fas fa-pencil-alt"></i>
              <% end %>
            <% end %>
          </div>
            <% if panier.engagement == true %>
              <%= image_tag "panier_engagement.png", class: "panier-engagement" %>
            <% end %>
          <div class="detail-paniers">
            <ul>
              <% panier.panier_lignes.sort_by(&:created_at).each do |ligne| %>
                <li>
                  <% if panier.valide == false %>
                    <div class="panier-nom-legume">
                      <%= ligne.legume.nom %>
                    </div>
                    <div class="wrapper-paniers-index">
                      <div class="panier-quantite-legume">
                        <%= rem_trailing_zero(ligne.quantite) %>
                        <% if ligne.unite.nil? || ligne.unite == "" %>
                          <%= ligne.quantite > 1 && ligne.legume.unite != "kg" ? ligne.legume.unite.pluralize : ligne.legume.unite %>
                        <% else %>
                          <%= ligne.quantite > 1 && ligne.unite != "kg" ? ligne.unite.pluralize : ligne.unite %>
                        <% end %>
                      </div>
                      <div class="panier-prix-legume">
                        <%= number_with_precision(ligne.prixunitairettc * ligne.quantite, precision: 2) %> €
                      </div>
                        <div>
                          <%= link_to vente_panier_panier_ligne_path(@vente, panier, ligne), method: :delete do %>
                            <i class="fas fa-trash"></i>
                          <% end %>
                        </div>
                        <div>
                          <button type="button" data-toggle="modal" data-target="#modal-edit-ligne-panier<%=ligne.id%>">
                            <i class="fas fa-pencil-alt"></i>
                          </button>
                          <div class="modal fade" id="modal-edit-ligne-panier<%=ligne.id%>" tabindex="-1" role="dialog" aria-labelledby="modal-edit-ligne-panierLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                              <div class="modal-content modal-new-ligne-panier">
                                <div class="modal-body">
                                  <div class="new-ligne-form">
                                    <%= simple_form_for [@vente, panier, ligne] do |f| %>
                                      <%= f.association :legume, label_method: :nom, :label => "LÉGUME", required: true %>
                                      <div class="pu-ligne-panier">
                                        <%= f.input :prixunitairettc, :label => "PRIX UNITAIRE TTC", required: true, input_html: { id: "prixunitaire#{ligne.id}" } %>
                                        <%= f.input :unite, :label => "UNITÉ", collection: ["botte", "pièce", "kg", "bouquet"] %>
                                      </div>
                                        <%= f.input :quantite, :label => "QUANTITÉ", required: true, input_html: { id: "quantite#{ligne.id}" } %>
                                        <%= f.input :totalttc, :label => "TOTAL TTC", input_html: { id: "prixtotal#{ligne.id}" } %>
                                      <div>
                                        <%= f.submit " ", :type => :image, :src => image_path("save-rond.png"), id: "submit-new-ligne" %>
                                      </div>
                                    <% end %>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                    </div>
                  <% else %>
                    <div class="panier-nom-legume">
                      <%= ligne.legume.nom %>
                    </div>
                    <div class="panier-valide-index">
                      <div class="panier-quantite-legume">
                        <%= rem_trailing_zero(ligne.quantite) %>
                        <% if ligne.unite.nil? || ligne.unite == "" %>
                          <%= ligne.quantite > 1 && ligne.legume.unite != "kg" ? ligne.legume.unite.pluralize : ligne.legume.unite %>
                        <% else %>
                          <%= ligne.quantite > 1 && ligne.unite != "kg" ? ligne.unite.pluralize : ligne.unite %>
                        <% end %>
                      </div>
                      <div class="panier-prix-legume">
                        <%= number_with_precision(ligne.prixunitairettc * ligne.quantite, precision: 2) %> €
                      </div>
                    </div>
                  <% end %>
                </li>
              <% end %>
            </ul>
            <% if panier.valide == false %>
              <div class="add-ligne">
                <button type="button" data-toggle="modal" data-target="#modal-new-ligne-panier<%=panier.id%>">
                  <%= image_tag "plus-rond.png", class: "plus-rond-ligne" %>
                </button>
              </div>
              <div class="modal fade" id="modal-new-ligne-panier<%=panier.id%>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content modal-new-ligne-panier">
                    <div class="modal-body">
                      <div class="new-ligne-form">
                        <%= simple_form_for [@vente, panier, @lignedepanier] do |f| %>
                          <%= f.association :legume, label_method: :nom, :label => "LÉGUME", required: true %>
                          <div class="pu-ligne-panier">
                            <%= f.input :prixunitairettc, :label => "PRIX UNITAIRE TTC", required: true, input_html: { id: "prixunitairejs#{panier.id}" } %>
                            <%= f.input :unite, :label => "UNITÉ", collection: ["botte", "pièce", "kg", "bouquet"] %>
                          </div>
                            <%= f.input :quantite, :label => "QUANTITÉ", required: true, input_html: { id: "quantitejs#{panier.id}" } %>
                            <%= f.input :totalttc, :label => "TOTAL TTC", input_html: { id: "prixtotaljs#{panier.id}" } %>
                          <div>
                            <%= f.submit " ", :type => :image, :src => image_path("save-rond.png"), id: "submit-new-ligne" %>
                          </div>
                        <% end %>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            <% end %>
            <ul>
              <li>
                <div>
                </div>
                <div class="total-panier">
                  <div class="panier-quantite-legume">
                    Total :
                    <% total_panier = panier.panier_lignes.map {|ligne| ligne.quantite * ligne.prixunitairettc}.sum %>
                  </div>
                  <div class="panier-prix-legume">
                    <% total_panier = panier.panier_lignes.map {|ligne| ligne.quantite * ligne.prixunitairettc}.sum %>
                    <%= number_with_precision(total_panier, precision: 2) || 0.00 %> €
                  </div>
                </div>
              </li>
              <li>
                <div></div>
                <div class="ecart-panier">
                  <div class="panier-quantite-legume">Écart :</div>
                  <% if (total_panier || 0.00) - panier.prix_ttc < 0 %>
                    <div class="panier-prix-legume text-danger"><%= number_with_precision((total_panier || 0.00) - panier.prix_ttc, precision: 2) %> €</div>
                  <% else %>
                    <div class="panier-prix-legume text-success"><%= number_with_precision((total_panier || 0.00) - panier.prix_ttc, precision: 2) %> €</div>
                  <% end %>
                </div>
              </li>
              <% if panier.valide == false && panier.engagement == true %>
                <div class="bouton-ecart">
                  <button type="button" data-toggle="tooltip" data-html="true" title="<div>Écart cumulé : <%= number_with_precision(@ecarts[panier.prix_ttc], precision: 2) %> €</div><div>Avec ce panier, l'écart sera de <%= number_with_precision((@ecarts[panier.prix_ttc] + ((total_panier || 0.00) - panier.prix_ttc)), precision: 2) %> €</div>">
                    <i class="far fa-question-circle"></i>
                  </button>
                </div>
              <% end %>
            </ul>
          </div>

        </div>
      <% counter += 1 %>
      <% end %>
    </div>
    <div class="cadres-paniers">
      <% @paniers.sort_by(&:prix_ttc).first(3).each do |panier| %>
        <div class="valider-panier">
          <% if panier.valide == false %>

            <%= simple_form_for [@vente, panier] do |f| %>
                <div><%= f.hidden_field :valide, :value => true %></div>
                <%= f.submit "Valider le panier", class: "voir-tout-recap", data: {:confirm => "Tu as bien tout checké ?"} %>
            <% end %>


          <% elsif panier.valide == false && panier.vente.date < Date.yesterday %>
              <div></div>
          <% else %>
              <div class="panier-valide">Panier validé !</div>
          <% end %>
        </div>
      <% end %>
    </div>
    <% if @paniers.length > 3 %>
      <% counter = 3 %>
      <div class="cadres-paniers">
        <% @paniers.sort_by(&:prix_ttc)[3..6].each do |panier| %>
          <div class="cadre-paniers-pointvente">
            <div class="titre-cadre-paniers">
              <%= panier.prix_ttc.to_i %> € (<%= panier.quantite %> <%= panier.quantite > 1 ? "panier".pluralize : "panier" %>)
              <% if panier.valide == false %>
                <%= link_to edit_vente_panier_path(@vente, panier) do %>
                  <i class="fas fa-pencil-alt"></i>
                <% end %>
              <% end %>
            </div>
              <% if panier.engagement == true %>
                <%= image_tag "panier_engagement.png", class: "panier-engagement" %>
              <% end %>
            <div class="detail-paniers">
              <ul>
                <% panier.panier_lignes.sort_by(&:created_at).each do |ligne| %>
                  <li>
                    <% if panier.valide == false %>
                      <div class="panier-nom-legume">
                        <%= ligne.legume.nom %>
                      </div>
                      <div class="wrapper-paniers-index">
                        <div class="panier-quantite-legume">
                          <%= rem_trailing_zero(ligne.quantite) %>
                          <% if ligne.unite.nil? || ligne.unite == "" %>
                            <%= ligne.quantite > 1 && ligne.legume.unite != "kg" ? ligne.legume.unite.pluralize : ligne.legume.unite %>
                          <% else %>
                            <%= ligne.quantite > 1 && ligne.unite != "kg" ? ligne.unite.pluralize : ligne.unite %>
                          <% end %>
                        </div>
                        <div class="panier-prix-legume">
                          <%= number_with_precision(ligne.prixunitairettc * ligne.quantite, precision: 2) %> €
                        </div>
                          <div>
                            <%= link_to vente_panier_panier_ligne_path(@vente, panier, ligne), method: :delete do %>
                              <i class="fas fa-trash"></i>
                            <% end %>
                          </div>
                          <div>
                            <button type="button" data-toggle="modal" data-target="#modal-edit-ligne-panier<%=ligne.id%>">
                              <i class="fas fa-pencil-alt"></i>
                            </button>
                            <div class="modal fade" id="modal-edit-ligne-panier<%=ligne.id%>" tabindex="-1" role="dialog" aria-labelledby="modal-edit-ligne-panierLabel" aria-hidden="true">
                              <div class="modal-dialog" role="document">
                                <div class="modal-content modal-new-ligne-panier">
                                  <div class="modal-body">
                                    <div class="new-ligne-form">
                                      <%= simple_form_for [@vente, panier, ligne] do |f| %>
                                        <%= f.association :legume, label_method: :nom, :label => "LÉGUME", required: true %>
                                        <div class="pu-ligne-panier">
                                          <%= f.input :prixunitairettc, :label => "PRIX UNITAIRE TTC", required: true, input_html: { id: "prixunitaire#{ligne.id}" } %>
                                          <%= f.input :unite, :label => "UNITÉ", collection: ["botte", "pièce", "kg", "bouquet"] %>
                                        </div>
                                          <%= f.input :quantite, :label => "QUANTITÉ", required: true, input_html: { id: "quantite#{ligne.id}" } %>
                                          <%= f.input :totalttc, :label => "TOTAL TTC", input_html: { id: "prixtotal#{ligne.id}" } %>
                                        <div>
                                          <%= f.submit " ", :type => :image, :src => image_path("save-rond.png"), id: "submit-new-ligne" %>
                                        </div>
                                      <% end %>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                      </div>
                    <% else %>
                      <div class="panier-nom-legume">
                        <%= ligne.legume.nom %>
                      </div>
                      <div class="panier-valide-index">
                        <div class="panier-quantite-legume">
                          <%= rem_trailing_zero(ligne.quantite) %>
                          <% if ligne.unite.nil? || ligne.unite == "" %>
                            <%= ligne.quantite > 1 && ligne.legume.unite != "kg" ? ligne.legume.unite.pluralize : ligne.legume.unite %>
                          <% else %>
                            <%= ligne.quantite > 1 && ligne.unite != "kg" ? ligne.unite.pluralize : ligne.unite %>
                          <% end %>
                        </div>
                        <div class="panier-prix-legume">
                          <%= number_with_precision(ligne.prixunitairettc * ligne.quantite, precision: 2) %> €
                        </div>
                      </div>
                    <% end %>
                  </li>
                <% end %>
              </ul>
              <% if panier.valide == false %>
                <div class="add-ligne">
                  <button type="button" data-toggle="modal" data-target="#modal-new-ligne-panier<%=panier.id%>">
                    <%= image_tag "plus-rond.png", class: "plus-rond-ligne" %>
                  </button>
                </div>
                <div class="modal fade" id="modal-new-ligne-panier<%=panier.id%>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content modal-new-ligne-panier">
                      <div class="modal-body">
                        <div class="new-ligne-form">
                          <%= simple_form_for [@vente, panier, @lignedepanier] do |f| %>
                            <%= f.association :legume, label_method: :nom, :label => "LÉGUME", required: true %>
                            <div class="pu-ligne-panier">
                              <%= f.input :prixunitairettc, :label => "PRIX UNITAIRE TTC", required: true, input_html: { id: "prixunitairejs#{counter}" } %>
                              <%= f.input :unite, :label => "UNITÉ", collection: ["botte", "pièce", "kg", "bouquet"] %>
                            </div>
                              <%= f.input :quantite, :label => "QUANTITÉ", required: true, input_html: { id: "quantitejs#{counter}" } %>
                              <%= f.input :totalttc, :label => "TOTAL TTC", input_html: { id: "prixtotaljs#{counter}" } %>
                            <div>
                              <%= f.submit " ", :type => :image, :src => image_path("save-rond.png"), id: "submit-new-ligne" %>
                            </div>
                          <% end %>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              <% end %>
              <ul>
                <li>
                  <div>
                  </div>
                  <div class="total-panier">
                    <div class="panier-quantite-legume">
                      Total :
                      <% total_panier = panier.panier_lignes.map {|ligne| ligne.quantite * ligne.prixunitairettc}.sum %>
                    </div>
                    <div class="panier-prix-legume">
                      <% total_panier = panier.panier_lignes.map {|ligne| ligne.quantite * ligne.prixunitairettc}.sum %>
                      <%= number_with_precision(total_panier, precision: 2) || 0.00 %> €
                    </div>
                  </div>
                </li>
                <li>
                  <div></div>
                  <div class="ecart-panier">
                    <div class="panier-quantite-legume">Écart :</div>
                    <% if (total_panier || 0.00) - panier.prix_ttc < 0 %>
                      <div class="panier-prix-legume text-danger"><%= number_with_precision((total_panier || 0.00) - panier.prix_ttc, precision: 2) %> €</div>
                    <% else %>
                      <div class="panier-prix-legume text-success"><%= number_with_precision((total_panier || 0.00) - panier.prix_ttc, precision: 2) %> €</div>
                    <% end %>
                  </div>
                </li>
                <% if panier.valide == false && panier.engagement == true %>
                  <div class="bouton-ecart">
                    <button type="button" data-toggle="tooltip" data-html="true" title="<div>Écart cumulé : <%= number_with_precision(@ecarts[panier.prix_ttc], precision: 2) %> €</div><div>Avec ce panier, l'écart sera de <%= number_with_precision((@ecarts[panier.prix_ttc] + ((total_panier || 0.00) - panier.prix_ttc)), precision: 2) %> €</div>">
                      <i class="far fa-question-circle"></i>
                    </button>
                  </div>
                <% end %>
              </ul>
            </div>

          </div>
        <% counter += 1 %>
        <% end %>
      </div>
      <div class="cadres-paniers">
        <% @paniers.sort_by(&:prix_ttc)[3..6].each do |panier| %>
          <div class="valider-panier">
            <% if panier.valide == false %>
              <%= simple_form_for [@vente, panier] do |f| %>
                  <div><%= f.hidden_field :valide, :value => true %></div>
                  <%= f.submit "Valider le panier", class: "voir-tout-recap", data: {:confirm => "Tu as bien tout checké ?"} %>
              <% end %>
            <% elsif panier.valide == false && panier.vente.date < Date.yesterday %>
                <div></div>
            <% else %>
                <div class="panier-valide">Panier validé !</div>
            <% end %>
          </div>
        <% end %>
      </div>
    <% end %>


    <% unless @ventes_moins_un.empty? %>
      <div class="anciens-paniers">
        <button type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
          <%= image_tag "ancienspaniers.png", class: "anciens-paniers-img" %>
        </button>
      </div>

      <div class="collapse" id="collapseExample">
        <% @ventes_moins_un.sort.reverse.each do |vente| %>
          <% if vente.paniers.any? %>
            <div class="vente-paniers-index-paniers">
              <b><%= vente.date.strftime("%d/%m") %></b>
              <div class="cadres-paniers-vente-point">
                <% vente.paniers.sort_by(&:prix_ttc).each do |panier| %>
                  <div class="cadre-paniers-pointvente">
                    <div class="titre-cadre-paniers">
                      <%= panier.prix_ttc.to_i %> € (<%= panier.quantite %> <%= panier.quantite > 1 ? "panier".pluralize : "panier" %>)
                    </div>
                    <% if panier.engagement == true %>
                      <%= image_tag "panier_engagement.png", class: "panier-engagement" %>
                    <% end %>
                    <div class="detail-paniers">
                      <ul>
                        <% panier.panier_lignes.sort_by(&:created_at).each do |ligne| %>
                          <li>
                            <div class="panier-nom-legume">
                              <%= ligne.legume.nom %>
                            </div>
                            <div class="panier-valide-index">
                              <div class="panier-quantite-legume">
                                <%= rem_trailing_zero(ligne.quantite) %> <%= ligne.quantite > 1 && ligne.legume.unite != "kg" ? ligne.legume.unite.pluralize : ligne.legume.unite %>
                              </div>
                              <div class="panier-prix-legume">
                                <%= number_with_precision(ligne.prixunitairettc * ligne.quantite, precision: 2) %> €
                              </div>
                            </div>
                           </li>
                        <% end %>
                      </ul>
                      <ul>
                        <li>
                          <div>
                          </div>
                          <div class="total-panier">
                            <div class="panier-quantite-legume">
                              Total :
                              <% total_panier = panier.panier_lignes.map {|ligne| ligne.quantite * ligne.prixunitairettc}.sum %>
                            </div>
                            <div class="panier-prix-legume">
                              <%= number_with_precision(total_panier, precision: 2) || 0.00 %> €
                            </div>
                          </div>
                        </li>
                        <li>
                          <div></div>
                          <div class="ecart-panier">
                            <div class="panier-quantite-legume">Écart :</div>
                            <% if (total_panier || 0.00) - panier.prix_ttc < 0 %>
                              <div class="panier-prix-legume text-danger"><%= number_with_precision((total_panier || 0.00) - panier.prix_ttc, precision: 2) %> €</div>
                            <% else %>
                              <div class="panier-prix-legume"><%= number_with_precision((total_panier || 0.00) - panier.prix_ttc, precision: 2) %> €</div>
                            <% end %>
                          </div>
                        </li>
                      </ul>
                    </div>
                  </div>
                <% end %>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>

<div class="bottom-button fixed-bottom">
  <%= link_to new_vente_panier_path(@vente) do %>
  <% image_tag "plus-rond.png", class: "plus-rond" %>
  <% end %>
</div>

