<%= render 'shared/navbar' %>
<div class="container mt-4 mb-4">
    <h2>Paniers de la <%= link_to vente_path(@vente) do %>vente de <%= @vente.vente_point.nom %> du <%= @vente.date.strftime("%d/%m") %><% end %></h2>
  <div class="box-recolter">
    <div>
      <%= image_tag "recolte.png", class: "recolte-img" %>
    </div>
    <div>
      <h2>À récolter</h2>
      <ul>
        <% @arecolter.each do |legume, detail| %>
        <li>
          <%= legume %> : <%= rem_trailing_zero(detail[:quantite]) %> <%= detail[:unite] %>
        </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
<div class="container mt-4">
  <div class="tous-paniers-index">
    <div class="cadres-paniers">
      <% @paniers.sort_by(&:prix_ttc).each do |panier| %>
        <div class="cadre-paniers-pointvente">
          <div class="titre-cadre-paniers">
            <%= panier.prix_ttc.to_i %> € (<%= panier.quantite %> paniers)
            <% if panier.valide == false && panier.vente.date >= Date.yesterday %>
              <%= link_to edit_vente_panier_path(@vente, panier) do %>
                <i class="fas fa-pencil-alt"></i>
              <% end %>
            <% end %>
          </div>
          <div class="detail-paniers">
            <ul>
              <% panier.panier_lignes.sort_by(&:created_at).each do |ligne| %>
                <li>
                  <% if panier.valide == false && panier.vente.date >= Date.yesterday %>
                    <div class="panier-nom-legume">
                      <%= ligne.legume.nom %>
                    </div>
                    <div class="wrapper-paniers-index">
                      <div class="panier-quantite-legume">
                        <%= rem_trailing_zero(ligne.quantite) %>
                        <% if ligne.unite.nil? || ligne.unite == "" %>
                          <%= ligne.quantite > 1 ? ligne.legume.unite.pluralize : ligne.legume.unite %>
                        <% else %>
                          <%= ligne.quantite > 1 ? ligne.unite.pluralize : ligne.unite %>
                        <% end %>
                      </div>
                      <div class="panier-prix-legume">
                        <%= ligne.prixunitairettc %> €
                      </div>
                        <div>
                          <%= link_to vente_panier_panier_ligne_path(@vente, panier, ligne), method: :delete, data: { confirm: "Supprimer ?" }, :class => "delete-cross" do %>
                            <i class="fas fa-trash"></i>
                          <% end %>
                        </div>
                        <div>
                          <%= link_to edit_vente_panier_panier_ligne_path(@vente, panier, ligne) do %>
                            <i class="fas fa-pencil-alt"></i>
                          <% end %>
                        </div>
                    </div>
                  <% else %>
                    <div class="panier-nom-legume">
                      <%= ligne.legume.nom %>
                    </div>
                    <div class="panier-valide-index">
                      <div class="panier-quantite-legume">
                        <%= rem_trailing_zero(ligne.quantite) %>
                        <% if ligne.unite.nil? || ligne.unite == "" %>
                          <%= ligne.quantite > 1 ? ligne.legume.unite.pluralize : ligne.legume.unite %>
                        <% else %>
                          <%= ligne.quantite > 1 ? ligne.unite.pluralize : ligne.unite %>
                        <% end %>
                      </div>
                      <div class="panier-prix-legume">
                        <%= ligne.prixunitairettc %> €
                      </div>
                    </div>
                  <% end %>
                </li>
              <% end %>
            </ul>
            <% if panier.valide == false && panier.vente.date >= Date.yesterday %>
              <div class="add-ligne">
                <%= link_to new_vente_panier_panier_ligne_path(@vente, panier) do %>
                  <% image_tag "plus-rond.png", class: "plus-rond-ligne" %>
                <% end %>
              </div>
            <% end %>
            <ul>
              <li>
                <div>
                </div>
                <div class="total-panier">
                  <div class="panier-quantite-legume">
                    Total :
                  </div>
                  <div class="panier-prix-legume">
                    <%= panier.prix_reel_ttc || 0 %> €
                  </div>
                </div>
              </li>
              <li>
                <div></div>
                <div class="ecart-panier">
                  <div class="panier-quantite-legume">Écart :</div>
                  <div class="panier-prix-legume"><%= (panier.prix_reel_ttc || 0) - panier.prix_ttc %> €</div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      <% end %>
    </div>
    <div class="cadres-paniers">
      <% @paniers.sort_by(&:prix_ttc).each do |panier| %>
        <div class="valider-panier">
          <% if panier.valide == false && panier.vente.date >= Date.yesterday %>

            <%= simple_form_for [@vente, panier] do |f| %>
                <div><%= f.hidden_field :valide, :value => true %></div>
                <%= f.submit "Valider le panier", class: "voir-tout-recap", data: {:confirm => "Tu as bien tout checké ?"} %>
            <% end %>


          <% elsif panier.valide == false && panier.vente.date < Date.yesterday %>
              <div></div>
          <% else %>
              <div class="panier-valide">Panier validé !</div>
          <% end %>
        </div>
      <% end %>
    </div>
    <% unless @ventes_moins_un.empty? %>
      <div class="anciens-paniers">
        <button type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
          <%= image_tag "ancienspaniers.png", class: "anciens-paniers-img" %>
        </button>
      </div>

      <div class="collapse" id="collapseExample">
        <% @ventes_moins_un.sort.reverse.each do |vente| %>
          <% if vente.paniers.any? %>
            <div class="vente-paniers-index-paniers">
              <b><%= vente.date.strftime("%d/%m") %></b>
              <div class="cadres-paniers-vente-point">
                <% vente.paniers.each do |panier| %>
                  <div class="cadre-paniers-pointvente">
                    <div class="titre-cadre-paniers">
                      <%= panier.prix_ttc.to_i %> € (<%= panier.quantite %> paniers)
                    </div>
                    <div class="detail-paniers">
                      <ul>
                        <% panier.panier_lignes.sort_by(&:created_at).each do |ligne| %>
                          <li>
                            <div class="panier-nom-legume">
                              <%= ligne.legume.nom %>
                            </div>
                            <div class="panier-valide-index">
                              <div class="panier-quantite-legume">
                                <%= ligne.quantite %> <%= ligne.quantite > 1 ? ligne.legume.unite.pluralize : ligne.legume.unite %>
                              </div>
                              <div class="panier-prix-legume">
                                <%= ligne.prixunitairettc %> €
                              </div>
                            </div>
                           </li>
                        <% end %>
                      </ul>
                      <ul>
                        <li>
                          <div>
                          </div>
                          <div class="total-panier">
                            <div class="panier-quantite-legume">
                              Total :
                            </div>
                            <div class="panier-prix-legume">
                              <%= panier.prix_reel_ttc || 0 %> €
                            </div>
                          </div>
                        </li>
                        <li>
                          <div></div>
                          <div class="ecart-panier">
                            <div class="panier-quantite-legume">Écart :</div>
                            <div class="panier-prix-legume"><%= (panier.prix_reel_ttc || 0) - panier.prix_ttc %> €</div>
                          </div>
                        </li>
                      </ul>
                    </div>
                  </div>
                <% end %>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>

<div class="bottom-button fixed-bottom">
  <%= link_to new_vente_panier_path(@vente) do %>
  <% image_tag "plus-rond.png", class: "plus-rond" %>
  <% end %>
</div>

