<div class="container mt-4 mb-4">
  <div class="infos-facture">
    <div>Numéro de facture : <%= link_to vente_path(@vente) do %><%= @vente.date_facture.strftime("%d%m") %><%= @vente.num_facture.to_s.rjust(4,'0') %> <% end %> </div>
    <div>Mode de réglement : virement / chèque</div>
    <div><b>Date de facturation : <%= @vente.date_facture.strftime("%d/%m/%Y") %></b></div>
    <div>À régler avant le : <%= (@vente.date_facture + 1.month - 1.day).strftime("%d/%m/%Y") %></div>
  </div>

  <div class="coordonnees-ele">
    <div class="jardinsdele">Les Jardins d'Elé</div>
    <div class="adresse-ele">
      <div>41, chemin Bourrelières</div>
      <div>38410 Vaulnaveys-le-Bas</div>
      <div>FRANCE</div>
      <div>SIRET : 83519329300015</div>
    </div>
  </div>

  <div class="alignement-coordonnees">
    <div></div>
    <div class="coordonnees-client">
      <div class="nom-client"><%= @pointdevente.nom %></div>
      <div class="adresse-client">
        <div><%= @pointdevente.adresse %></div>
        <div><%= @pointdevente.code_postal %> <%= @pointdevente.ville %></div>
        <div>FRANCE</div>
      </div>
    </div>
  </div>

  <div class="facture">FACTURE</div>
  <div class="details-facture">
    <table class="table">
      <thead>
        <tr>
          <th scope="col"><b>Réf.</b></th>
          <th scope="col"><b>Description</b></th>
          <th scope="col"><b>Qua.</b></th>
          <th scope="col"><b>Prix unit.</b></th>
          <th scope="col"><b>Montant</b></th>
          <th scope="col"><b>TVA</b></th>
        </tr>
      </thead>
      <tbody>
        <% counter = 1 %>
        <% @lignesdevente.sort_by(&:legume).each do |lignedevente| %>
        <tr>
          <th scope="row">REF00<%= counter %></th>
          <td><%= number_with_precision(lignedevente.legume.nom, precision: 2) %></td>
          <td><%= lignedevente.quantite %></td>
          <td><%= number_with_precision(lignedevente.prixunitaireht, precision: 2) %></td>
          <td><%= number_with_precision(lignedevente.totalht, precision: 2) %></td>
          <td>5.5</td>
        </tr>
        <% counter += 1 %>
        <% end %>
      </tbody>
    </table>
  </div>
  <div class="conditions-facture">Réserve de propriété (loi du 12/05/1980) : la marchandise reste notre propriété jusqu'au paiement intégral</div>

  <div class="recap-facture">
    <table class="table">
      <tr>
        <thead>
          <th scope="col">Total HT</td>
          <th scope="col" class="text-right"><%= number_with_precision(@vente.total_ht, precision: 2) %> €</td>
        <thead>
      </tr>
      <tbody>
        <tr>
          <td>Total TVA</td>
          <td class="text-right"><%= number_with_precision(@vente.total_ttc - @vente.total_ht, precision: 2) %> €</td>
        </tr>
        <tr>
          <td>Total TTC</td>
          <td class="text-right"><%= number_with_precision(@vente.total_ttc, precision: 2) %> €</td>
        </tr>
        <tr>
          <td>Déjà réglé</td>
          <td class="text-right"><%= number_with_precision(@vente.montant_regle, precision: 2) %> €</td>
        </tr>
        <tr>
          <td><b>NET à payer</b></td>
          <td class="text-right"><b><%= number_with_precision(@vente.total_ttc - @vente.montant_regle, precision: 2) %> €</b></td>
        </tr>
    </table>
  </div>
  <div class="aimable-reglement">En votre aimable règlement</div>
  <div class="reglement-anticipe">Escompte pour réglement anticipé de 0 % - Pénalité en cas de retard de paiement : 1,5 fois le taux d'intéret légal</div>
  <div class="adresse-bas">Les Jardins d'Elé - 41, chemin Bourrelières 38410 Vaulnaveys-le-Bas - Tél. : 0671671001</div>
</div>


