<%= render 'shared/navbar' %>
<div class="container mt-4">
  <div class="titre-recap">
    <h2>Les ventes</h2>
    <%= link_to ventes_impayes_path do %>
      <div class="voir-tout-recap">Les impayés</div>
    <% end %>
  </div>
</div>

<ul class="nav nav-pills justify-content-center mt-3" id="myTab" role="tablist">
  <li class="nav-item nav-item-show">
    <a class="nav-link active mr-3" id="parmois-tab" data-toggle="tab" href="#parmois" role="tab" aria-controls="parmois" aria-selected="false">Par mois</a>
  </li>
  <li class="nav-item nav-item-show">
    <a class="nav-link ml-3" id="parsemaine-tab" data-toggle="tab" href="#parsemaine" role="tab" aria-controls="parsemaine" aria-selected="false">Par semaine</a>
  </li>
</ul>

<div class="tab-content" id="myTabContent">
  <div class="tab-pane fade" id="parsemaine" role="tabpanel" aria-labelledby="parsemaine-tab">
    <div class="parsemaine-liste">
      <% unless @ventes_futures.empty? %>
        <h3 class="mt-5">Ventes futures</h3>
        <ul>
            <% @ventes_futures.each do |vente| %>
              <li>
                <div class="wrapper-ventes-par-semaine">
                  <div>
                    <% if vente.resteapercevoir > 0 %>
                      <div class="text-danger">
                        <%= link_to vente_path(vente) do %>
                          <%= vente.date.strftime("%d/%m") %>
                        <% end %>
                      </div>
                    <% else %>
                      <%= link_to vente_path(vente) do %>
                        <%= vente.date.strftime("%d/%m") %>
                      <% end %>
                    <% end %>
                  </div>
                  <div><%= link_to vente_point_path(vente.vente_point) do %><%= vente.vente_point.nom %><%end%></div>
                  <div>
                    <% if vente.paniers.any? %>
                      <%= link_to vente_paniers_path(vente) do %>
                        <%= image_tag "panier.png", alt: "panier", class: "panier-recap" %>
                      <% end %>
                    <% else %>
                      <%= link_to new_vente_panier_path(vente) do %>
                        <%= image_tag "panier-plus-gris.png", alt: "panier", class: "panier-recap" %>
                      <% end %>
                    <% end %>
                  </div>
                  <div>
                    <div><%= number_with_precision((vente.montant_arrondi.nil? || vente.montant_arrondi.zero? ? vente.total_ttc : vente.montant_arrondi), precision: 2) %> €</div>
                  </div>
                </div>
              </li>
            <% end %>
        </ul>
      <div class="separateur-ventes-futures"></div>
      <% end %>

      <% while @week > 0 %>
        <% unless @ventes_semaine[@week].nil? %>
          <h3 class="mt-5">S<%= @week %> (<%= number_with_precision(@ventes_semaine[@week].map{ |vente| vente.montant_arrondi.nil? || vente.montant_arrondi.zero? ? vente.total_ttc : vente.montant_arrondi }.sum, precision: 2) %> €)</h3>
          <ul>
            <% @ventes_semaine[@week].sort_by(&:date).reverse.each do |vente| %>
              <li>
                <div class="wrapper-ventes-par-semaine">
                  <div>
                    <% if vente.resteapercevoir > 0 %>
                      <div class="text-danger">
                        <%= link_to vente_path(vente) do %>
                          <%= vente.date.strftime("%d/%m") %>
                        <% end %>
                      </div>
                    <% else %>
                      <%= link_to vente_path(vente) do %>
                        <%= vente.date.strftime("%d/%m") %>
                      <% end %>
                    <% end %>
                  </div>
                  <div><%= link_to vente_point_path(vente.vente_point) do %><%= vente.vente_point.nom %><%end%></div>
                  <div>
                    <% if vente.paniers.any? %>
                      <%= link_to vente_paniers_path(vente) do %>
                        <%= image_tag "panier.png", alt: "panier", class: "panier-recap" %>
                      <% end %>
                    <% end %>
                  </div>
                  <div><%= number_with_precision((vente.montant_arrondi.nil? || vente.montant_arrondi.zero? ? vente.total_ttc : vente.montant_arrondi), precision: 2) %> €</div>
                </div>
              </li>
            <% end %>
          </ul>
        <% end %>
      <% @week -= 1 %>
      <% end %>
    </div>
  </div>
  <div class="tab-pane fade show active" id="parmois" role="tabpanel" aria-labelledby="parmois-tab">

    <%#= data = [{
      name: "Divers",
      data: [["3", 10], ["4", 28]]
    },
    {
      name: "Magasin",
      data: [["3", 24], ["4", 22]]
    },
    {
      name: "AMAP",
      data: [["3", 20], ["4", 29]]
    }]
    %>


<%#= column_chart data, stacked: true %>
<%# @month = Date.today.month %>
<%#= ventes = @pointsdevente.find(9).ventes %>
<%# ventes.each do |vente| %>
<%#= vente.date %>
<%# end %>

    <%= column_chart @ventespourgraph, colors: ["#A1BD7F"] %>
    <div class="separateur-ventes-index"></div>
    <div class="parmois-liste">
      <% unless @ventes_futures.empty? %>
        <h3 class="mt-5">Ventes futures</h3>
        <ul>
            <% @ventes_futures.each do |vente| %>
              <li>
                <div class="wrapper-ventes-par-semaine">
                  <div>
                    <% if vente.resteapercevoir > 0 %>
                      <div class="text-danger">
                        <%= link_to vente_path(vente) do %>
                          <%= vente.date.strftime("%d/%m") %>
                        <% end %>
                      </div>
                    <% else %>
                      <%= link_to vente_path(vente) do %>
                        <%= vente.date.strftime("%d/%m") %>
                      <% end %>
                    <% end %>
                  </div>
                  <div><%= link_to vente_point_path(vente.vente_point) do %><%= vente.vente_point.nom %><%end%></div>
                  <div>
                    <% if vente.paniers.any? %>
                      <%= link_to vente_paniers_path(vente) do %>
                        <%= image_tag "panier.png", alt: "panier", class: "panier-recap" %>
                      <% end %>
                    <% else %>
                      <%= link_to new_vente_panier_path(vente) do %>
                        <%= image_tag "panier-plus-gris.png", alt: "panier", class: "panier-recap" %>
                      <% end %>
                    <% end %>
                  </div>
                  <div><%= number_with_precision((vente.montant_arrondi.nil? || vente.montant_arrondi.zero? ? vente.total_ttc : vente.montant_arrondi), precision: 2) %> €</div>
                </div>
              </li>
            <% end %>
        </ul>
      <div class="separateur-ventes-futures"></div>
      <% end %>
      <% while @month > 0 %>
        <% unless @ventes_mois[@month].nil? %>
        <button type="button" data-toggle="collapse" data-target="#ventesmois<%=@month%>" aria-expanded="false" aria-controls="collapseExample">
          <h3>M<%= @month %> (<%= number_with_precision(@ventes_mois[@month].map{ |vente| vente.montant_arrondi.nil? || vente.montant_arrondi.zero? ? vente.total_ttc : vente.montant_arrondi }.sum, precision: 2) %> €)</h3>
        </button>
        <div class="collapse" id="ventesmois<%=@month%>">
          <ul>
            <% @ventes_mois[@month].sort_by(&:date).reverse.each do |vente| %>
              <li>
                <div class="wrapper-ventes-par-semaine">
                  <div>
                    <% if vente.resteapercevoir > 0 %>
                      <div class="text-danger">
                        <%= link_to vente_path(vente) do %>
                          <%= vente.date.strftime("%d/%m") %>
                        <% end %>
                      </div>
                    <% else %>
                      <%= link_to vente_path(vente) do %>
                        <%= vente.date.strftime("%d/%m") %>
                      <% end %>
                    <% end %>
                  </div>
                  <div><%= link_to vente_point_path(vente.vente_point) do %><%= vente.vente_point.nom %><%end%></div>
                  <div>
                    <% if vente.paniers.any? %>
                      <%= link_to vente_paniers_path(vente) do %>
                        <%= image_tag "panier.png", alt: "panier", class: "panier-recap" %>
                      <% end %>
                    <% end %>
                  </div>
                  <div><%= number_with_precision((vente.montant_arrondi.nil? || vente.montant_arrondi.zero? ? vente.total_ttc : vente.montant_arrondi), precision: 2) %> €</div>
                </div>
              </li>
            <% end %>
          </ul>
        </div>
        <% end %>
        <% @month -= 1 %>
      <% end %>
    </div>
  </div>
</div>
