<%= render 'shared/navbar' %>
<div class="container mt-4">
  <h2 class="mb-5">Nouvelle vente</h2>
  <div class="nouvelle-vente">
    <%= simple_form_for @vente do |f| %>
      <%= f.association :vente_point, label_method: :nom, :label => "POINT DE VENTE" %>
      <%= f.input :date, as: :string, :label => "DATE", input_html: { class: "datepicker" } %>
      <%= image_tag "celeri branche.jpg", class: "celeri-branche" %>
      <div class="bottom-button fixed-bottom">
        <%= f.submit  " ", :type => :image, :src => image_path("save-rond.png"), class: "save-rond" %>
      </div>
    <% end %>
  </div>
</div>
