<%= render 'shared/navbar' %>
<div class="container mt-4">
  <div class="columns">
    <div class="left-col-ventes">
      <div class="titre-recap">
        <h2>Les points de vente</h2>
        <%= link_to vente_points_path do %>
          <div class="voir-tout-recap-ventes">Voir tout</div>
        <% end %>
      </div>
      <ul class=sample-ventes>
        <% counter = 1 %>
        <% @pointsdevente.sort_by(&:total_ttc).reverse.first(3).each do |point| %>
          <li>
            <div class="image-vente"><%= image_tag "numero#{counter}.png", class: "icone-vente" %>
            </div>
            <div class="wrapper-recap-ventes detail-vente">
              <div><%= link_to vente_point_path(point) do %> <%= point.nom %> <% end %> </div>
              <div><%= number_with_precision(@pointsdeventeparca[point], precision: 2) %> €</div>
              <div><%= (@pointsdeventeparca[point]*100).fdiv(@catotal).round(2).nan? ? "0" : (@pointsdeventeparca[point]*100).fdiv(@catotal).round(2) %> %</div>
            </div>
          </li>
          <% counter += 1 %>
        <% end %>
      </ul>
      <div class="buttons-graphs">
        <button type="button" data-toggle="collapse" data-target="#collapsegraphcategorie" aria-expanded="false" aria-controls="collapseExample">
          <i class="fas fa-chart-pie"></i> catégories
        </button>
        <button type="button" data-toggle="collapse" data-target="#collapsegraphpdv" aria-expanded="false" aria-controls="collapseExample">
          <i class="fas fa-chart-pie"></i> points de vente
        </button>
      </div>
      <div class="titre-recap mt-5">
        <h2>Les ventes</h2>
        <%= link_to ventes_path do %>
          <div class="voir-tout-recap-ventes">Voir tout</div>
        <% end %>
      </div>
      <div class="toutes-ventes">
        <ul>
          <% @ventes.sort_by(&:date).reverse.first(5).each do |vente| %>
            <li>
              <div class="wrapper-toutes-ventes">
                <div>
                  <% if vente.resteapercevoir > 0 %>
                      <div class="text-danger">
                        <%= link_to vente_path(vente) do %>
                          <%= vente.date.strftime("%d/%m") %>
                        <% end %>
                      </div>
                    <% else %>
                      <%= link_to vente_path(vente) do %>
                        <%= vente.date.strftime("%d/%m") %>
                      <% end %>
                    <% end %>
                  </div>
                <div><%= link_to vente_point_path(vente.vente_point) do %> <%= vente.vente_point.nom %><% end %></div>
                <div>
                  <% if vente.paniers.any? %>
                    <%= link_to vente_paniers_path(vente) do %>
                      <%= image_tag "panier.png", alt: "panier", class: "panier-recap" %>
                    <% end %>
                  <% elsif vente.date >= Date.today %>
                    <%= link_to new_vente_panier_path(vente) do %>
                      <%= image_tag "panier-plus-gris.png", alt: "panier", class: "panier-recap" %>
                    <% end %>
                  <% end %>
                </div>
                <div>
                  <% if vente.montant_arrondi == 0 || vente.montant_arrondi.nil? %>
                    <%= vente.total_ttc.nil? ? vente.total_ttc.to_i : number_with_precision(vente.total_ttc, precision: 2)%> €
                  <% else %>
                    <%= number_with_precision(vente.montant_arrondi, precision: 2) %> €
                  <% end %>
                </div>
              </div>
            </li>
          <% end %>
        </ul>
      </div>
      <div class="plus-recap">
        <%= link_to new_vente_path do %>
          <% image_tag "plus-rond.png", class: "plus-rond-recap" %>
        <% end %>
      </div>
    </div>
    <div class="right-col-ventes">
      <h2>Le récap</h2>
      <div class="toutes-ventes">
        <ul>
          <li>
            <div class="wrapper-recap-tout">
              <div>CA de la semaine (S<%= Date.today.strftime("%W").to_i+1 %>)</div>
              <div><%= number_with_precision(@casemaine, precision: 2) %> €</div>
            </div>
          </li>
          <li>
            <div class="wrapper-recap-tout">
              <div>CA du mois (M<%= @monthtoday %>) </div>
              <div><%= number_with_precision(@camois, precision: 2) %> €</div>
            </div>
          </li>
          <li>
            <div class="wrapper-recap-tout">
              <div>CA total</div>
              <div><%= number_with_precision(@catotal.to_f, precision: 2) %> €</div>
            </div>
          </li>
          <li>
            <div class="wrapper-recap-tout">
              <div>CA prévisionnel </div>
              <div><%= number_with_precision(@caprevi, precision: 2) %> €</div>
            </div>
          </li>
        </ul>
      </div>

      <div class="progress">
        <div class="progress-bar bg-success" role="progressbar" style="width: <%=(@catotal.to_f*100)/@caprevi%>%" aria-valuenow="<%=number_with_precision(((@catotal.to_f*100)/@caprevi), precision: 2) %>" aria-valuemin="0" aria-valuemax="100"><%=number_with_precision(((@catotal.to_f*100)/@caprevi), precision: 2)%> %</div>
      </div>

      <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="box-recolter-recap">
              <div>
                <%= image_tag "recolte.png", id: "recolte-img" %>
              </div>
              <div>
                <h2>À récolter aujourd'hui</h2>
                <ul>
                  <% @arecolter_ajd.each do |legume, detail| %>
                  <li>
                    <%= legume %> : <%= rem_trailing_zero(detail[:quantite]) %> <%= detail[:unite] != "kg" ? detail[:unite].pluralize : detail[:unite] %>
                  </li>
                  <% end %>
                </ul>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="box-recolter-recap">
              <div>
                <%= image_tag "recolte.png", id: "recolte-img" %>
              </div>
              <div>
                <h2>À récolter demain</h2>
                <ul>
                  <% @arecolter_j1.each do |legume, detail| %>
                  <li>
                    <%= legume %> : <%= rem_trailing_zero(detail[:quantite]) %> <%= detail[:unite] != "kg" ? detail[:unite].pluralize : detail[:unite] %>
                  </li>
                  <% end %>
                </ul>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="box-recolter-recap">
              <div>
                <%= image_tag "recolte.png", id: "recolte-img" %>
              </div>
              <div>
                <h2>À récolter après-demain</h2>
                <ul>
                  <% @arecolter_j2.each do |legume, detail| %>
                  <li>
                    <%= legume %> : <%= rem_trailing_zero(detail[:quantite]) %> <%= detail[:unite] != "kg" ? detail[:unite].pluralize : detail[:unite] %>
                  </li>
                  <% end %>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only text-success">Jour suivant</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only text-success">Jour précedent</span>
        </a>
      </div>

      <div class="collapse" id="collapsegraphcategorie">
        <div class="graph-categorie">
          <%= pie_chart @pointsdeventeparcapourgraph, colors: @colors_categories, width: "50%" %>
          </div>
      </div>
      <div class="collapse" id="collapsegraphpdv">
        <div class="graph-pdv">
          <%= pie_chart @pointsdeventeca, colors: @colors %>
        </div>
      </div>
    </div>
  </div>
</div>



<div class="container">
  <div class="mobile-paniers">
    <h2>Prochains paniers</h2>
    <div class="toutes-ventes">
      <ul>
        <% @ventes_panier.each do |vente| %>
          <li>
            <div class="wrapper-toutes-ventes">
              <div><%= vente.date.strftime("%d/%m") %></div>
              <div><%= link_to vente_path(vente) do %> <%= vente.vente_point.nom %><% end %></div>
              <div>
                <%= link_to vente_paniers_path(vente) do %>
                  <%= image_tag "panier.png", alt: "panier", class: "panier-recap" %>
                <% end %>
              </div>
            </div>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>

