<%= render 'shared/navbar' %>
<div class="container mt-4">
  <h2>Vente <%= @vente.vente_point.nom %> du <%= @vente.date.strftime("%d/%m") %> - <%= @sommeventettc.nil? ? "O" : number_with_precision(@sommeventettc, precision: 2)%> €</h2>
  <div class="ligne-titre-vente">
    <ul>
      <li>
        <div class="wrapper-ligne-vente mt-5">
          <div>Légume</div>
          <div>Planche</div>
          <div>Prix unitaire HT</div>
          <div>Prix unitaire TTC</div>
          <div>Quantité</div>
          <div>Unité</div>
          <div>Montant HT</div>
          <div>Montant TTC</div>
        </div>
      </li>
      <% @lignesdevente.each do |lignedevente| %>
        <li>
          <div class="wrapper-ligne-vente mt-1">
            <div><%= lignedevente.legume.nom %></div>
            <div></div>
            <% puht = lignedevente.prixunitaireht %>
            <% puttc = ht_to_ttc(puht) %>
            <div><%= number_with_precision(puht, precision: 2) %> €</div>
            <div><%= number_with_precision(puttc, precision: 2) %> €</div>
            <div>
              <% if lignedevente.quantite.nil? %>
              <%= 0 %>
              <% else %>
                <%= lignedevente.quantite %>
              <% end %>
            </div>
            <div><%= lignedevente.legume.unite %></div>
            <% ptht = puht * lignedevente.quantite %>
            <% ptttc = puttc * lignedevente.quantite %>
            <div><%= number_with_precision(ptht, precision: 2) %> €</div>
            <div><%= number_with_precision(ptttc, precision: 2) %> €</div>
          </div>
        </li>
      <% end %>
      <hr align = "right">
      <li>
          <div class="wrapper-ligne-vente">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div class="ligne-total-vente"><%= @sommeventeht.nil? ? "O" : number_with_precision(@sommeventeht, precision: 2)%> €</div>
            <div class="ligne-total-vente"><%= @sommeventettc.nil? ? "O" : number_with_precision(@sommeventettc, precision: 2) %> €</div>
          </div>
        </li>
    </ul>
  </div>
</div>

