<%= render 'shared/navbar' %>
<div class="container mt-4 mb-4">
  <h2>Vente <%= link_to vente_point_path(@vente.vente_point) do %><%= @vente.vente_point.nom %><% end %> du <%= @vente.date.strftime("%d/%m") %> - <%= number_with_precision((@vente.montant_arrondi.nil? || @vente.montant_arrondi.zero? ? @vente.total_ttc : @vente.montant_arrondi), precision: 2) %> €</h2>

  <div class="bouton-ajout-ligne">
    <div>
      <%= link_to new_vente_vente_ligne_path(@vente) do %>
        <% image_tag "plus-rond.png", class: "petit-plus-rond" %>
      <% end %>
    </div>

    <div>
      <%= link_to vente_paniers_path(@vente) do %>
        <% image_tag "composerpanier.png", class: "composer-panier" %>
      <% end %>
    </div>
  </div>
  <div class="ligne-titre-vente">
    <ul>
      <li>
        <div class="titres-vente">
          <div class="wrapper-ligne-vente wrapper-ligne-vente-titre mt-5">
            <div>Légume/Panier</div>
            <div>Planche</div>
            <div>PU HT</div>
            <div>PU TTC</div>
            <div>Unité</div>
            <div>Quantité</div>
            <div>Montant HT</div>
            <div>Montant TTC</div>
          </div>
        </div>
      </li>
      <% @lignesdevente.sort_by(&:legume).each do |lignedevente| %>
        <li class="ligne-vente-ac-modif">
          <div class="wrapper-ligne-vente mt-1">
            <div><%= lignedevente.legume.nom %></div>
            <div>
              <div class="choix-planche-panier">
                <% if lignedevente.planche.nil? %>
                  <button class="bouton-tout-petit-plus-rond" type="button" data-toggle="modal" data-target="#modal-select-planche-ligne-<%=lignedevente.id%>">
                    <%= image_tag "plus-rond.png", class: "tout-petit-plus-rond" %>
                  </button>
                <% else %>
                  <button class="bouton-tout-petit-plus-rond" type="button" data-toggle="modal" data-target="#modal-select-planche-ligne-<%=lignedevente.id%>">
                    <%= lignedevente.planche.nom %>
                  </button>
                <% end %>
                <div class="modal fade" id="modal-select-planche-ligne-<%=lignedevente.id%>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content modal-content-planches">
                      <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel"><h2><%= lignedevente.legume.nom %></h2></h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>

                      <div class="modal-body">
                        <div class="columns">
                          <div class="left-col">
                            <% jardins_left = ["Jardin D", "Jardin E", "Jardin F"] %>
                            <% @jardins.select { |jardin, _value| jardins_left.include?(jardin)}.each do |jardin, planches| %>
                              <div class="jardins">
                                <div class="jardins-titre"><p><%= jardin %></p></div>
                                <ul class="lignes-planche">
                                  <% planches.each do |planche| %>
                                    <li>
                                      <% activitesplanche = {} %>
                                      <% planche.activites.sort_by(&:date).each do |activite|  %>
                                        <% unless activite.legume.nil? %>
                                          <% activitesplanche[activite.legume] = [] %>
                                        <% end %>
                                      <% end %>
                                       <% planche.activites.sort_by(&:date).each do |activite|  %>
                                        <% unless activite.nil? || activite.legume.nil? %>
                                          <% activitesplanche[activite.legume] << activite.nom %>
                                        <% end %>
                                      <% end %>
                                      <% if activitesplanche.empty? %>
                                        <%= simple_form_for [@vente, lignedevente] do |f| %>
                                          <div><%= f.hidden_field :planche_id, :value => "#{planche.id}" %></div>
                                          <%= f.submit "#{planche.nom}", class: "update-planche-modal" %>
                                        <% end %>
                                      <% elsif activitesplanche.length == 1 %>
                                        <% activitesplanche.each do |nomlegume, array| %>
                                          <% if array.include?("Plantation") && array.exclude?("Nettoyage planche") %>
                                            <div class="ligne-planche <%= nomlegume.famille.tr("é", "e").downcase %>-bg-color">
                                              <%= simple_form_for [@vente, lignedevente] do |f| %>
                                                  <div><%= f.hidden_field :planche_id, :value => "#{planche.id}" %></div>
                                                  <%= f.submit "#{planche.nom} - #{nomlegume.nom}", class: "update-planche-modal" %>
                                               <% end %>
                                            </div>
                                          <% elsif array.exclude?("Plantation") && array.include?("Nettoyage planche") %>
                                            <%= simple_form_for [@vente, lignedevente] do |f| %>
                                              <div><%= f.hidden_field :planche_id, :value => "#{planche.id}" %></div>
                                              <%= f.submit "#{planche.nom}", class: "update-planche-modal" %>
                                            <% end %>
                                          <% elsif (["Plantation", "Nettoyage planche"] - array.uniq).empty? && array.reverse.index("Plantation") < array.reverse.index("Nettoyage planche") %>
                                            <div class="ligne-planche <%= nomlegume.famille.tr("é", "e").downcase %>-bg-color">
                                              <%= simple_form_for [@vente, lignedevente] do |f| %>
                                                  <div><%= f.hidden_field :planche_id, :value => "#{planche.id}" %></div>
                                                  <%= f.submit "#{planche.nom} - #{nomlegume.nom}", class: "update-planche-modal" %>
                                               <% end %>
                                            </div>
                                          <% else %>
                                            <%= simple_form_for [@vente, lignedevente] do |f| %>
                                              <div><%= f.hidden_field :planche_id, :value => "#{planche.id}" %></div>
                                              <%= f.submit "#{planche.nom}", class: "update-planche-modal" %>
                                            <% end %>
                                          <% end %>
                                        <% end %>
                                      <% else %>
                                        <% activitesplanche.each do |nomlegume, array| %>
                                          <% if array.include?("Plantation") && array.exclude?("Nettoyage planche") %>
                                            <div class="ligne-planche <%= nomlegume.famille.tr("é", "e").downcase %>-bg-color">
                                              <%= simple_form_for [@vente, lignedevente] do |f| %>
                                                  <div><%= f.hidden_field :planche_id, :value => "#{planche.id}" %></div>
                                                  <%= f.submit "#{planche.nom} - #{nomlegume.nom}", class: "update-planche-modal" %>
                                               <% end %>
                                            </div>
                                          <% elsif array.exclude?("Plantation") && array.include?("Nettoyage planche") %>
                                            <%= simple_form_for [@vente, lignedevente] do |f| %>
                                              <div><%= f.hidden_field :planche_id, :value => "#{planche.id}" %></div>
                                              <%= f.submit "#{planche.nom}", class: "update-planche-modal" %>
                                            <% end %>
                                          <% elsif (["Plantation", "Nettoyage planche"] - array.uniq).empty? && array.reverse.index("Plantation") < array.reverse.index("Nettoyage planche") %>
                                            <div class="ligne-planche <%= nomlegume.famille.tr("é", "e").downcase %>-bg-color">
                                              <%= simple_form_for [@vente, lignedevente] do |f| %>
                                                  <div><%= f.hidden_field :planche_id, :value => "#{planche.id}" %></div>
                                                  <%= f.submit "#{planche.nom} - #{nomlegume.nom}", class: "update-planche-modal" %>
                                               <% end %>
                                            </div>
                                          <% end %>
                                        <% end %>
                                      <% end %>
                                   </li>
                                  <% end %>
                                </ul>
                              </div>
                            <% end %>
                          </div>
                          <div class="right-col">
                            <% jardins_left = ["Jardin A", "Jardin B", "Jardin C"] %>
                            <% @jardins.select { |jardin, _value| jardins_left.include?(jardin)}.each do |jardin, planches| %>
                              <div class="jardins">
                                <div class="jardins-titre"><p><%= jardin %></p></div>
                                <ul class="lignes-planche">
                                  <% planches.each do |planche| %>
                                    <li>
                                      <% activitesplanche = {} %>
                                      <% planche.activites.sort_by(&:date).each do |activite|  %>
                                        <% unless activite.legume.nil? %>
                                          <% activitesplanche[activite.legume] = [] %>
                                        <% end %>
                                      <% end %>
                                       <% planche.activites.sort_by(&:date).each do |activite|  %>
                                        <% unless activite.nil? || activite.legume.nil? %>
                                          <% activitesplanche[activite.legume] << activite.nom %>
                                        <% end %>
                                      <% end %>
                                      <% if activitesplanche.empty? %>
                                        <%= simple_form_for [@vente, lignedevente] do |f| %>
                                          <div><%= f.hidden_field :planche_id, :value => "#{planche.id}" %></div>
                                          <%= f.submit "#{planche.nom}", class: "update-planche-modal" %>
                                        <% end %>
                                      <% elsif activitesplanche.length == 1 %>
                                        <% activitesplanche.each do |nomlegume, array| %>
                                          <% if array.include?("Plantation") && array.exclude?("Nettoyage planche") %>
                                            <div class="ligne-planche <%= nomlegume.famille.tr("é", "e").downcase %>-bg-color">
                                              <%= simple_form_for [@vente, lignedevente] do |f| %>
                                                  <div><%= f.hidden_field :planche_id, :value => "#{planche.id}" %></div>
                                                  <%= f.submit "#{planche.nom} - #{nomlegume.nom}", class: "update-planche-modal" %>
                                               <% end %>
                                            </div>
                                          <% elsif array.exclude?("Plantation") && array.include?("Nettoyage planche") %>
                                            <%= simple_form_for [@vente, lignedevente] do |f| %>
                                              <div><%= f.hidden_field :planche_id, :value => "#{planche.id}" %></div>
                                              <%= f.submit "#{planche.nom}", class: "update-planche-modal" %>
                                            <% end %>
                                          <% elsif (["Plantation", "Nettoyage planche"] - array.uniq).empty? && array.reverse.index("Plantation") < array.reverse.index("Nettoyage planche") %>
                                            <div class="ligne-planche <%= nomlegume.famille.tr("é", "e").downcase %>-bg-color">
                                              <%= simple_form_for [@vente, lignedevente] do |f| %>
                                                  <div><%= f.hidden_field :planche_id, :value => "#{planche.id}" %></div>
                                                  <%= f.submit "#{planche.nom} - #{nomlegume.nom}", class: "update-planche-modal" %>
                                               <% end %>
                                            </div>
                                          <% else %>
                                            <%= simple_form_for [@vente, lignedevente] do |f| %>
                                              <div><%= f.hidden_field :planche_id, :value => "#{planche.id}" %></div>
                                              <%= f.submit "#{planche.nom}", class: "update-planche-modal" %>
                                            <% end %>
                                          <% end %>
                                        <% end %>
                                      <% else %>
                                        <% activitesplanche.each do |nomlegume, array| %>
                                          <% if array.include?("Plantation") && array.exclude?("Nettoyage planche") %>
                                            <div class="ligne-planche <%= nomlegume.famille.tr("é", "e").downcase %>-bg-color">
                                              <%= simple_form_for [@vente, lignedevente] do |f| %>
                                                  <div><%= f.hidden_field :planche_id, :value => "#{planche.id}" %></div>
                                                  <%= f.submit "#{planche.nom} - #{nomlegume.nom}", class: "update-planche-modal" %>
                                               <% end %>
                                            </div>
                                          <% elsif array.exclude?("Plantation") && array.include?("Nettoyage planche") %>
                                            <%= simple_form_for [@vente, lignedevente] do |f| %>
                                              <div><%= f.hidden_field :planche_id, :value => "#{planche.id}" %></div>
                                              <%= f.submit "#{planche.nom}", class: "update-planche-modal" %>
                                            <% end %>
                                          <% elsif (["Plantation", "Nettoyage planche"] - array.uniq).empty? && array.reverse.index("Plantation") < array.reverse.index("Nettoyage planche") %>
                                            <div class="ligne-planche <%= nomlegume.famille.tr("é", "e").downcase %>-bg-color">
                                              <%= simple_form_for [@vente, lignedevente] do |f| %>
                                                  <div><%= f.hidden_field :planche_id, :value => "#{planche.id}" %></div>
                                                  <%= f.submit "#{planche.nom} - #{nomlegume.nom}", class: "update-planche-modal" %>
                                               <% end %>
                                            </div>
                                          <% end %>
                                        <% end %>
                                      <% end %>
                                   </li>
                                  <% end %>
                                </ul>
                              </div>
                            <% end %>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div><%= number_with_precision(lignedevente.prixunitaireht, precision: 2) %> €</div>
            <div><%= number_with_precision(lignedevente.prixunitairettc, precision: 2) %> €</div>
            <div>
              <% if lignedevente.unite.nil? || lignedevente.unite == "" %>
                <%= lignedevente.legume.unite %>
              <% else %>
                <%= lignedevente.unite %>
              <% end %>
            </div>
            <div>
              <% if lignedevente.quantite.nil? %>
              <%= 0 %>
              <% else %>
                <%= rem_trailing_zero(lignedevente.quantite) %>
              <% end %>
            </div>
            <div><%= number_with_precision(lignedevente.totalht, precision: 2) %> €</div>
            <div><%= number_with_precision(lignedevente.totalttc, precision: 2) %> €</div>
          </div>
          <div class="modifier-ligne"><%= link_to edit_vente_vente_ligne_path(@vente, lignedevente) do %> <i class="fas fa-pencil-alt"></i><% end %></div>
        </li>
      <% end %>
      <% unless @paniers.empty? || @lignesdevente.empty? %>
        <div class="separateur-ventes"></div>
      <% end %>
      <% @paniers.sort_by(&:prix_ttc).each do |panier| %>
        <li>
          <div class="wrapper-ligne-vente mt-1">
            <div>
              <button class= "bouton-panier-vente" type="button" data-toggle="collapse" data-target="#collapse<%=panier.id%>" aria-expanded="false" aria-controls="collapse<%=panier.id%>">
              Panier à <%= panier.prix_ttc.to_i %> €
              <% if panier.engagement == true %>
                <%= image_tag "panier_engagement.png", class: "panier-engagement-show" %>
              <% end %>
              </button>
            </div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div>
              <% if panier.quantite.nil? %>
              <%= 0 %>
              <% else %>
                <%= panier.quantite %>
              <% end %>
            </div>
            <div><%= number_with_precision(panier.quantite * ttc_to_ht(panier.prix_ttc), precision: 2) %> €</div>
            <div><%= number_with_precision(panier.quantite * panier.prix_ttc, precision: 2) %> €</div>
          </div>
          <div class="collapse show" id="collapse<%=panier.id%>">
            <ul class="liste-detail-panier-vente">
              <% panier.panier_lignes.sort_by(&:legume).each do |lignepanier| %>
                <li>
                  <div class="wrapper-ligne-vente mt-1">
                    <div><%= lignepanier.legume.nom %></div>
                    <div class="choix-planche-panier">
                      <% if lignepanier.planche.nil? %>
                        <button class="bouton-tout-petit-plus-rond" type="button" data-toggle="modal" data-target="#modal-select-planche-ligne-panier-<%=lignepanier.id%>">
                          <%= image_tag "plus-rond.png", class: "tout-petit-plus-rond" %>
                        </button>
                      <% else %>
                        <button class="bouton-tout-petit-plus-rond" type="button" data-toggle="modal" data-target="#modal-select-planche-ligne-panier-<%=lignepanier.id%>">
                          <%= lignepanier.planche.nom %>
                        </button>
                      <% end %>
                      <div class="modal fade" id="modal-select-planche-ligne-panier-<%=lignepanier.id%>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                          <div class="modal-content modal-content-planches">
                            <div class="modal-header">
                              <h5 class="modal-title" id="exampleModalLabel"><h2><%= lignepanier.legume.nom %></h2></h5>
                              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                              </button>
                            </div>
                            <div class="modal-body">
                              <div class="columns">
                                <div class="left-col">
                                  <% jardins_left = ["Jardin D", "Jardin E", "Jardin F"] %>
                                  <% @jardins.select { |jardin, _value| jardins_left.include?(jardin)}.each do |jardin, planches| %>
                                    <div class="jardins">
                                      <div class="jardins-titre"><p><%= jardin %></p></div>
                                      <ul class="lignes-planche">
                                        <% planches.each do |planche| %>
                                          <li>
                                            <% activitesplanche = {} %>
                                            <% planche.activites.sort_by(&:date).each do |activite|  %>
                                              <% unless activite.legume.nil? %>
                                                <% activitesplanche[activite.legume] = [] %>
                                              <% end %>
                                            <% end %>
                                             <% planche.activites.sort_by(&:date).each do |activite|  %>
                                              <% unless activite.nil? || activite.legume.nil? %>
                                                <% activitesplanche[activite.legume] << activite.nom %>
                                              <% end %>
                                            <% end %>
                                            <% if activitesplanche.empty? %>
                                              <%= simple_form_for [@vente, panier, lignepanier] do |f| %>
                                                <div><%= f.hidden_field :planche_id, :value => "#{planche.id}" %></div>
                                                <%= f.submit "#{planche.nom}", class: "update-planche-modal" %>
                                              <% end %>
                                            <% elsif activitesplanche.length == 1 %>
                                              <% activitesplanche.each do |nomlegume, array| %>
                                                <% if array.include?("Plantation") && array.exclude?("Nettoyage planche") %>
                                                  <div class="ligne-planche <%= nomlegume.famille.tr("é", "e").downcase %>-bg-color">
                                                    <%= simple_form_for [@vente, panier, lignepanier] do |f| %>
                                                        <div><%= f.hidden_field :planche_id, :value => "#{planche.id}" %></div>
                                                        <%= f.submit "#{planche.nom} - #{nomlegume.nom}", class: "update-planche-modal" %>
                                                     <% end %>
                                                  </div>
                                                <% elsif array.exclude?("Plantation") && array.include?("Nettoyage planche") %>
                                                  <%= simple_form_for [@vente, lignedevente] do |f| %>
                                                    <div><%= f.hidden_field :planche_id, :value => "#{planche.id}" %></div>
                                                    <%= f.submit "#{planche.nom}", class: "update-planche-modal" %>
                                                  <% end %>s
                                                <% elsif (["Plantation", "Nettoyage planche"] - array.uniq).empty? && array.reverse.index("Plantation") < array.reverse.index("Nettoyage planche") %>
                                                  <div class="ligne-planche <%= nomlegume.famille.tr("é", "e").downcase %>-bg-color">
                                                    <%= simple_form_for [@vente, panier, lignepanier] do |f| %>
                                                        <div><%= f.hidden_field :planche_id, :value => "#{planche.id}" %></div>
                                                        <%= f.submit "#{planche.nom} - #{nomlegume.nom}", class: "update-planche-modal" %>
                                                     <% end %>
                                                  </div>
                                                <% else %>
                                                  <%= simple_form_for [@vente, panier, lignepanier] do |f| %>
                                                    <div><%= f.hidden_field :planche_id, :value => "#{planche.id}" %></div>
                                                    <%= f.submit "#{planche.nom}", class: "update-planche-modal" %>
                                                  <% end %>
                                                <% end %>
                                              <% end %>
                                            <% else %>
                                              <% activitesplanche.each do |nomlegume, array| %>
                                                <% if array.include?("Plantation") && array.exclude?("Nettoyage planche") %>
                                                  <div class="ligne-planche <%= nomlegume.famille.tr("é", "e").downcase %>-bg-color">
                                                    <%= simple_form_for [@vente, panier, lignepanier] do |f| %>
                                                        <div><%= f.hidden_field :planche_id, :value => "#{planche.id}" %></div>
                                                        <%= f.submit "#{planche.nom} - #{nomlegume.nom}", class: "update-planche-modal" %>
                                                     <% end %>
                                                  </div>
                                                <% elsif array.exclude?("Plantation") && array.include?("Nettoyage planche") %>
                                                  <%= simple_form_for [@vente, lignedevente] do |f| %>
                                                    <div><%= f.hidden_field :planche_id, :value => "#{planche.id}" %></div>
                                                    <%= f.submit "#{planche.nom}", class: "update-planche-modal" %>
                                                  <% end %>
                                                <% elsif (["Plantation", "Nettoyage planche"] - array.uniq).empty? && array.reverse.index("Plantation") < array.reverse.index("Nettoyage planche") %>
                                                  <div class="ligne-planche <%= nomlegume.famille.tr("é", "e").downcase %>-bg-color">
                                                    <%= simple_form_for [@vente, panier, lignepanier] do |f| %>
                                                        <div><%= f.hidden_field :planche_id, :value => "#{planche.id}" %></div>
                                                        <%= f.submit "#{planche.nom} - #{nomlegume.nom}", class: "update-planche-modal" %>
                                                     <% end %>
                                                  </div>
                                                <% end %>
                                              <% end %>
                                            <% end %>
                                         </li>
                                        <% end %>
                                      </ul>
                                    </div>
                                  <% end %>
                                </div>
                                <div class="right-col">
                                  <% jardins_left = ["Jardin A", "Jardin B", "Jardin C"] %>
                                  <% @jardins.select { |jardin, _value| jardins_left.include?(jardin)}.each do |jardin, planches| %>
                                    <div class="jardins">
                                      <div class="jardins-titre"><p><%= jardin %></p></div>
                                      <ul class="lignes-planche">
                                        <% planches.each do |planche| %>
                                          <li>
                                            <% activitesplanche = {} %>
                                            <% planche.activites.sort_by(&:date).each do |activite|  %>
                                              <% unless activite.legume.nil? %>
                                                <% activitesplanche[activite.legume] = [] %>
                                              <% end %>
                                            <% end %>
                                             <% planche.activites.sort_by(&:date).each do |activite|  %>
                                              <% unless activite.nil? || activite.legume.nil? %>
                                                <% activitesplanche[activite.legume] << activite.nom %>
                                              <% end %>
                                            <% end %>
                                            <% if activitesplanche.empty? %>
                                              <%= simple_form_for [@vente, panier, lignepanier] do |f| %>
                                                <div><%= f.hidden_field :planche_id, :value => "#{planche.id}" %></div>
                                                <%= f.submit "#{planche.nom}", class: "update-planche-modal" %>
                                              <% end %>
                                            <% elsif activitesplanche.length == 1 %>
                                              <% activitesplanche.each do |nomlegume, array| %>
                                                <% if array.include?("Plantation") && array.exclude?("Nettoyage planche") %>
                                                  <div class="ligne-planche <%= nomlegume.famille.tr("é", "e").downcase %>-bg-color">
                                                    <%= simple_form_for [@vente, panier, lignepanier] do |f| %>
                                                        <div><%= f.hidden_field :planche_id, :value => "#{planche.id}" %></div>
                                                        <%= f.submit "#{planche.nom} - #{nomlegume.nom}", class: "update-planche-modal" %>
                                                     <% end %>
                                                  </div>
                                                <% elsif array.exclude?("Plantation") && array.include?("Nettoyage planche") %>
                                                  <%= simple_form_for [@vente, lignedevente] do |f| %>
                                                    <div><%= f.hidden_field :planche_id, :value => "#{planche.id}" %></div>
                                                    <%= f.submit "#{planche.nom}", class: "update-planche-modal" %>
                                                  <% end %>
                                                <% elsif (["Plantation", "Nettoyage planche"] - array.uniq).empty? && array.reverse.index("Plantation") < array.reverse.index("Nettoyage planche") %>
                                                  <div class="ligne-planche <%= nomlegume.famille.tr("é", "e").downcase %>-bg-color">
                                                    <%= simple_form_for [@vente, panier, lignepanier] do |f| %>
                                                        <div><%= f.hidden_field :planche_id, :value => "#{planche.id}" %></div>
                                                        <%= f.submit "#{planche.nom} - #{nomlegume.nom}", class: "update-planche-modal" %>
                                                     <% end %>
                                                  </div>
                                                <% else %>
                                                  <%= simple_form_for [@vente, panier, lignepanier] do |f| %>
                                                    <div><%= f.hidden_field :planche_id, :value => "#{planche.id}" %></div>
                                                    <%= f.submit "#{planche.nom}", class: "update-planche-modal" %>
                                                  <% end %>
                                                <% end %>
                                              <% end %>
                                            <% else %>
                                              <% activitesplanche.each do |nomlegume, array| %>
                                                <% if array.include?("Plantation") && array.exclude?("Nettoyage planche") %>
                                                  <div class="ligne-planche <%= nomlegume.famille.tr("é", "e").downcase %>-bg-color">
                                                    <%= simple_form_for [@vente, panier, lignepanier] do |f| %>
                                                        <div><%= f.hidden_field :planche_id, :value => "#{planche.id}" %></div>
                                                        <%= f.submit "#{planche.nom} - #{nomlegume.nom}", class: "update-planche-modal" %>
                                                     <% end %>
                                                  </div>
                                                <% elsif array.exclude?("Plantation") && array.include?("Nettoyage planche") %>
                                                  <%= simple_form_for [@vente, lignedevente] do |f| %>
                                                    <div><%= f.hidden_field :planche_id, :value => "#{planche.id}" %></div>
                                                    <%= f.submit "#{planche.nom}", class: "update-planche-modal" %>
                                                  <% end %>
                                                <% elsif (["Plantation", "Nettoyage planche"] - array.uniq).empty? && array.reverse.index("Plantation") < array.reverse.index("Nettoyage planche") %>
                                                  <div class="ligne-planche <%= nomlegume.famille.tr("é", "e").downcase %>-bg-color">
                                                    <%= simple_form_for [@vente, panier, lignepanier] do |f| %>
                                                        <div><%= f.hidden_field :planche_id, :value => "#{planche.id}" %></div>
                                                        <%= f.submit "#{planche.nom} - #{nomlegume.nom}", class: "update-planche-modal" %>
                                                     <% end %>
                                                  </div>
                                                <% end %>
                                              <% end %>
                                            <% end %>
                                         </li>
                                        <% end %>
                                      </ul>
                                    </div>
                                  <% end %>
                                </div>

                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div><%= number_with_precision(ttc_to_ht(lignepanier.prixunitairettc).round(2), precision: 2) %> €</div>
                    <div><%= number_with_precision(lignepanier.prixunitairettc.round(2), precision: 2) %> €</div>
                    <div><%= lignepanier.unite.nil? || lignepanier.unite == "" ? lignepanier.legume.unite : lignepanier.unite %></div>
                    <div>
                      <% if lignepanier.quantite.nil? %>
                      <%= 0 %>
                      <% else %>
                        <%= rem_trailing_zero(lignepanier.quantite * panier.quantite) %>
                      <% end %>
                    </div>
                    <div><%= number_with_precision((ttc_to_ht(lignepanier.prixunitairettc).round(2) * lignepanier.quantite) * panier.quantite, precision: 2) %> €</div>
                    <div><%= number_with_precision((lignepanier.prixunitairettc * lignepanier.quantite).round(2) * panier.quantite, precision: 2) %> €</div>
                  </div>
                </li>
              <% end %>
            </ul>
          </div>
        </li>
      <% end %>
      <hr align = "right">
      <li>
          <div class="wrapper-ligne-vente">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div class="ligne-total-vente"><%= @vente.total_ht.nil? ? @vente.total_ht.to_i : number_with_precision(@vente.total_ht, precision: 2)%> €</div>
            <div class="ligne-total-vente"><%= @vente.total_ttc.nil? ? @vente.total_ttc.to_i : number_with_precision(@vente.total_ttc, precision: 2)%> €</div>
          </div>
        </li>
          <div class="wrapper-ligne-vente-arrondi">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div>Montant arrondi :</div>
            <div></div>
            <div></div>
            <div>
              <button type="button" class="bouton-montant-arrondi" data-toggle="modal" data-target="#modal-montant-arrondi">
                <% if @vente.montant_arrondi.nil? %>
                  À renseigner
                <% else %>
                  <%= number_with_precision(@vente.montant_arrondi, precision: 2) %> €
                <% end %>
              </button>
              <div class="modal fade" id="modal-montant-arrondi" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog small-modal-montant-arrondi" role="document">
                  <div class="modal-content small-modal-montant-arrondi-content">
                    <div class="modal-body">
                      <%= simple_form_for @vente do |f| %>
                        <%= f.input :montant_arrondi, :label => "Montant arrondi" %>
                        <%= f.submit " ", :type => :image, :src => image_path("save-rond.png"), class: "petit-save-rond" %>
                      <% end %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </li>
        </li>
          <div class="wrapper-ligne-vente-arrondi">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div>Montant réglé :</div>
            <div></div>
            <div></div>
            <div>
              <button type="button" class="bouton-montant-regle" data-toggle="modal" data-target="#modal-montant-regle">
                <%= number_with_precision(@vente.montant_regle, precision: 2) %> €
              </button>
              <div class="modal fade" id="modal-montant-regle" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog small-modal-montant-regle" role="document">
                  <div class="modal-content small-modal-montant-regle-content">
                    <div class="modal-body">
                      <%= simple_form_for @vente do |f| %>
                        <%= f.input :montant_regle, :label => "Montant réglé" %>
                        <%= f.submit " ", :type => :image, :src => image_path("save-rond.png"), class: "petit-save-rond" %>
                      <% end %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </li>
        </li>
          <div class="wrapper-ligne-vente-arrondi">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div>Reste à percevoir :</div>
            <div></div>
            <div></div>
            <% if @vente.montant_arrondi.nil? || @vente.montant_arrondi == 0 %>
              <% if (@vente.total_ttc - @vente.montant_regle) > 0 %>
                <div class="ligne-total-vente text-danger"><%= number_with_precision(@vente.total_ttc - @vente.montant_regle, precision: 2) %> €</div>
              <% else %>
                <div class="ligne-total-vente text-success"><%= number_with_precision(@vente.total_ttc - @vente.montant_regle, precision: 2) %> €</div>
              <% end %>
            <% else %>
              <% if (@vente.montant_arrondi - @vente.montant_regle) > 0 %>
                <div class="ligne-total-vente text-danger"><%= number_with_precision(@vente.montant_arrondi - @vente.montant_regle, precision: 2) %> €</div>
              <% else %>
                <div class="ligne-total-vente text-success"><%= number_with_precision(@vente.montant_arrondi - @vente.montant_regle, precision: 2) %> €</div>
              <% end %>
            <% end %>
          </div>
        </li>
    </ul>
  </div>

    <div class="separateur-paniers-ventes mt-5"></div>
    <div class="commentaires-show-vente">
      <h3><i class="fas fa-comment-alt"></i></h3>
      <ul>
        <% @vente.commentaires.each do |commentaire | %>
          <li>
            <div class="commentaire-show-vente">
              <div class="commentaire-show-vente-description"><%= commentaire.description %></div>
              <div>
                <%= link_to vente_commentaire_path(@vente, commentaire), method: :delete, data: { confirm: "Supprimer ?" } do %>
                  <i class="fas fa-trash"></i>
                <% end %>
              </div>
            </div>
          </li>
        <% end %>
      </ul>
    </div>
    <div class="plus-vente-show">
      <%= simple_form_for([ @vente, @commentaire ]) do |f| %>
        <%= f.input :description, as: :text, label: false, :placeholder => "Commentaire…" %>
        <div class="submit-plus-commentaire-vente">
          <%= f.submit  "", :type => :image, :src => image_path("plus-rond.png"), class: "img-plus-vente-show"%>
        </div>
      <% end %>
    </div>
    <% if @vente.num_facture.nil? %>
      <div class="facture-vente">
        <%= simple_form_for [@vente] do |f| %>
          <div><%= f.hidden_field :num_facture, :value => "#{@num_factures}" %></div>
          <div><%= f.hidden_field :date_facture, :value => "#{Date.today}" %></div>
          <%= f.submit "", :type => :image, :src => image_path("new_facture.png"), class: "img-facture-vente", data: { confirm: 'Attention, ceci va générer un numéro de facture ! Tout est bon ?' }  %>
        <% end %>
      </div>
    <% else %>
      <div class="facture-vente">
        <%= link_to vente_facture_path(@vente) do %>
          <% image_tag "facture.png", class: "img-facture-vente" %>
        <% end %>
      </div>
    <% end %>

</div>



