<%= render 'shared/navbar' %>
<div class="container mt-4">
  <h2>Vente <%= @vente.vente_point.nom %> du <%= @vente.date.strftime("%d/%m") %> - <%= @vente.total_ttc.nil? ? @vente.total_ttc.to_i : number_with_precision(@vente.total_ttc, precision: 2)%> €</h2>

  <div class="bouton-ajout-ligne">
    <div>
      <%= link_to new_vente_vente_ligne_path(@vente) do %>
        <% image_tag "plus-rond.png", class: "petit-plus-rond" %>
      <% end %>
    </div>
    <div>
        <%= image_tag "panier-plus.png", class: "panier-plus" %>
    </div>
  </div>
  <div class="ligne-titre-vente">
    <ul>
      <li>
        <div class="titres-vente">
          <div class="wrapper-ligne-vente wrapper-ligne-vente-titre mt-5">
            <div>Légume/Panier</div>
            <div>Planche</div>
            <div>PU HT</div>
            <div>PU TTC</div>
            <div>Quantité</div>
            <div>Unité</div>
            <div>Montant HT</div>
            <div>Montant TTC</div>
          </div>
        </div>
      </li>
      <% @lignesdevente.each do |lignedevente| %>
        <li>
          <div class="wrapper-ligne-vente mt-1">
            <div><%= lignedevente.legume.nom %></div>
            <div></div>
            <div><%= number_with_precision(lignedevente.prixunitaireht, precision: 2) %> €</div>
            <div><%= number_with_precision(lignedevente.prixunitairettc, precision: 2) %> €</div>
            <div>
              <% if lignedevente.quantite.nil? %>
              <%= 0 %>
              <% else %>
                <%= lignedevente.quantite %>
              <% end %>
            </div>
            <div><%= lignedevente.legume.unite %></div>
            <div><%= number_with_precision(lignedevente.totalht, precision: 2) %> €</div>
            <div><%= number_with_precision(lignedevente.totalttc, precision: 2) %> €</div>
          </div>
        </li>
      <% end %>

      <% @paniers.each do |panier| %>
        <li>
          <div class="wrapper-ligne-vente mt-1">
            <div>Panier à <%= panier.prix_ttc.to_i %> €</div>
            <div></div>
            <div></div>
            <div><%= panier.prix_ttc.to_i %>.00 €</div>
            <div><%= panier.quantite %></div>
            <div></div>
            <div></div>
            <div><%= panier.prix_ttc.to_i * panier.quantite %>.00 €</div>
          </div>
        </li>
      <% end %>


      <hr align = "right">
      <li>
          <div class="wrapper-ligne-vente">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div class="ligne-total-vente"><%= @vente.total_ht.nil? ? @vente.total_ht.to_i : number_with_precision(@vente.total_ht, precision: 2)%> €</div>
            <div class="ligne-total-vente"><%= @vente.total_ttc.nil? ? @vente.total_ttc.to_i : number_with_precision(@vente.total_ttc, precision: 2)%> €</div>
          </div>
        </li>
    </ul>
  </div>
</div>


<div class="bottom-button fixed-bottom">
  <%= link_to ventes_recap_path do %>
  <% image_tag "check-rond.png", class: "plus-rond" %>
  <% end %>
</div>
