<%= render 'shared/navbar' %>
<div class="container mt-4">
  <div class="titre-recap">

    <h2>Les points de vente</h2>
    <%= link_to ventes_recap_path do %>
     <div class="voir-tout-recap">Récap</div>
    <% end %>
  </div>
  <div class="liste-pointsdevente">
    <ul class="columns">
      <div class="left-col">
        <% @pointsdeventeparca.sort_by {|k,v| v}.reverse.each do |key, value| %>
          <li>
            <div class="wrapper-recap-pointsdevente">
              <div><%= link_to vente_point_path(key) do %> <%= key.nom %> <% end %> </div>
              <div><%= number_with_precision(value, precision: 2) %> €</div>
              <div><%= (value*100).fdiv(@catotal).round(2).nan? ? "0" : (value*100).fdiv(@catotal).round(2) %> %</div>
              <div>
                <%= link_to edit_vente_point_path(key) do %>
                  <i class="fas fa-pencil-alt"></i>
                <% end %>
              </div>
            </div>
          </li>
        <% end %>
      </div>
    </ul>
  </div>
<%= line_chart @ventes_mois_pdv, colors: @colors %>
</div>

<div class="bottom-button fixed-bottom">
  <%= link_to new_vente_point_path do %>
    <% image_tag "plus-rond.png", class: "plus-rond" %>
  <% end %>
</div>
