<%= render 'shared/navbar' %>
<div class="container mt-4">
  <div class="titre-recap">
    <h2>Les points de vente</h2>
    <%= link_to ventes_recap_path do %>
     <div class="voir-tout-recap">Récap</div>
    <% end %>
  </div>
  <div class="liste-pointsdevente">
    <ul class="columns">
      <div class="left-col">
        <% @pointsdevente.sort_by(&:nom).first(@firsthalf).each do |pointdevente| %>
          <% capoint = pointdevente.ventes.map {|vente| vente.total_ttc}.sum %>
          <li>
            <div class="wrapper-recap-pointsdevente">
              <div><%= link_to vente_point_path(pointdevente) do %> <%= pointdevente.nom %> <% end %> </div>
              <div><%= number_with_precision(capoint, precision: 2) %> €</div>
              <div><%= (capoint*100).fdiv(@catotal).round(2).nan? ? "0" : (capoint*100).fdiv(@catotal).round(2) %> %</div>
              <div>
                <%= link_to edit_vente_point_path(pointdevente) do %>
                  <i class="fas fa-pencil-alt"></i>
                <% end %>
              </div>
            </div>
          </li>
        <% end %>
      </div>

      <div class="right-col">
        <% @pointsdevente.sort_by(&:nom).last(@secondhalf).each do |pointdevente| %>
          <% capoint = pointdevente.ventes.map {|vente| vente.total_ttc}.sum %>
          <li>
            <div class="wrapper-recap-pointsdevente">
              <div><%= link_to ventes_path do %> <%= pointdevente.nom %> <% end %> </div>
              <div><%= number_with_precision(capoint, precision: 2) %> €</div>
              <div><%= (capoint*100).fdiv(@catotal).round(2) %> %</div>
              <div>
                <%= link_to edit_vente_point_path(pointdevente) do %>
                  <i class="fas fa-pencil-alt"></i>
                <% end %>
              </div>
            </div>
          </li>
        <% end %>
      </div>
    </ul>
  </div>
</div>

<div class="bottom-button fixed-bottom">
  <%= link_to new_vente_point_path do %>
    <% image_tag "plus-rond.png", class: "plus-rond" %>
  <% end %>
</div>
