<%= render 'shared/navbar' %>
<div class="container mt-4">
  <div class="titre-recap">
    <div class="pdv_details">
      <h2>Les points de vente</h2>
      <div>
        <button type="button" data-toggle="collapse" data-target="#collapsepdv_mois" aria-expanded="false" aria-controls="collapsepdv_mois">
          <%= image_tag "pdv_monthly.png", class: "pdv_img" %>
        </button>
      </div>
    </div>
    <%= link_to ventes_recap_path do %>
     <div class="voir-tout-recap">Récap</div>
    <% end %>
  </div>
  <div class="liste-pointsdevente">
    <ul class="columns">
      <div class="left-col">
        <% @pointsdeventeparca.sort_by {|k,v| v}.reverse.each do |key, value| %>
          <li>
            <div class="wrapper-recap-pointsdevente">
              <div><%= link_to vente_point_path(key) do %> <%= key.nom %> <% end %> </div>
              <div><%= number_with_precision(value, precision: 2) %> €</div>
              <div><%= (value*100).fdiv(@catotal).round(2).nan? ? number_with_precision(0.00, precision: 2) : number_with_precision((value*100).fdiv(@catotal).round(2), precision: 2) %> %</div>
              <div>
                <%= link_to edit_vente_point_path(key) do %>
                  <i class="fas fa-pencil-alt"></i>
                <% end %>
              </div>
            </div>
          </li>
        <% end %>
      </div>
    </ul>
  </div>
  <div class="collapse" id="collapsepdv_mois">
    <div class="mt-5 mb-5">
      <table class="table_pdv_month">
        <thead class="pdv-head">
          <tr>
            <td class="column_name_pdv">Point de vente</td>
            <% @ventes_mois_pdv.first[:data].reverse.each do |month| %>
            <td class="data_pdv_month"><%= month.first %></td>
            <% end %>
          </tr>
        </thead>
        <% @ventes_mois_pdv.each do |pdv| %>
        <tr>
          <td class="column_name_pdv">
            <%= pdv[:name] %>
          </td>
            <% pdv[:data].reverse.each do |data_month| %>
          <td class="data_pdv_month">
            <%= number_with_precision(data_month.last, precision: 2) %> €
          </td>
          <% end %>
        </tr>
        <% end %>
      </table>
    </div>
  </div>
<%= column_chart @ventes_mois_pdv, stacked: true, colors: @colors %>
</div>


<div class="bottom-button fixed-bottom">
  <%= link_to new_vente_point_path do %>
    <% image_tag "plus-rond.png", class: "plus-rond" %>
  <% end %>
</div>
