<%= render 'shared/navbar' %>
<%#= @ventes.group %>
<%#= line_chart @ventes.group_by_week(:date).count %>
  <div class="container mt-4 mb-4">
      <h2><%= @pointdevente.nom %></h2>
      <% unless @pointdevente.adresse.nil? %>
        <div class="infos-point-de-vente">
          <div class="adresse-point-de-vente">
            <div><%= @pointdevente.adresse %></div>
            <div><%= @pointdevente.code_postal %> <%= @pointdevente.ville %></div>
            <% unless @pointdevente.email.empty? %>
              <div>
                <i class="fas fa-envelope"></i><%= mail_to "#{@pointdevente.email}", "#{@pointdevente.email}" %>
              </div>
            <% end %>
          </div>
        </div>
      <% end %>

    <% unless @ventes_ac_panier.empty? %>
      <div class="toutes-dates-paniers">
        <h3>Les paniers</h3>
        <% @ventes.sort_by(&:date).reverse.each do |vente| %>
          <% if vente.paniers.any? %>
            <div class="vente-paniers">
              <button type="button" data-toggle="collapse" data-target="#collapse-vente<%=vente.id%>" aria-expanded="false" aria-controls="collapse-vente<%=vente.id%>">
                <b><%= vente.date.strftime("%d/%m") %></b> <i class="fas fa-search"></i>
              </button>
              <div class="collapse" id="collapse-vente<%=vente.id%>">
                <div class="card-body">
                  <div class="cadres-paniers-vente-point">
                    <% vente.paniers.each do |panier| %>
                      <div class="cadre-paniers-pointvente">
                        <div class="titre-cadre-paniers">
                          <%= panier.prix_ttc.to_i %> € (<%= panier.quantite %> paniers)
                        </div>
                        <div class="detail-paniers">
                          <ul>
                            <% panier.panier_lignes.sort_by(&:created_at).each do |ligne| %>
                              <li>
                                <div class="panier-nom-legume">
                                  <%= ligne.legume.nom %>
                                </div>
                                <div class="panier-valide-index">
                                  <div class="panier-quantite-legume">
                                    <%= ligne.quantite %> <%= ligne.quantite > 1 ? ligne.legume.unite.pluralize : ligne.legume.unite %>
                                  </div>
                                  <div class="panier-prix-legume">
                                    <%= ligne.prixunitairettc %> €
                                  </div>
                                </div>
                               </li>
                            <% end %>
                          </ul>
                          <ul>
                            <li>
                              <div>
                              </div>
                              <div class="total-panier">
                                <div class="panier-quantite-legume">
                                  Total :
                                </div>
                                <div class="panier-prix-legume">
                                  <%= panier.prix_reel_ttc || 0 %> €
                                </div>
                              </div>
                            </li>
                            <li>
                              <div></div>
                              <div class="ecart-panier">
                                <div class="panier-quantite-legume">Écart :</div>
                                <div class="panier-prix-legume"><%= (panier.prix_reel_ttc || 0) - panier.prix_ttc %> €</div>
                              </div>
                            </li>
                          </ul>
                        </div>
                      </div>
                    <% end %>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>

    <div class="separateur-paniers-ventes"></div>
  </div>
<% end %>

<div class="container ventes-pointdevente">
  <% unless @ventes.empty? %>
    <h3>Les ventes</h3>
    <div class="parlieu-liste">
      <ul>
        <div class="wrapper-ventes-par-pointdevente">
          <div>Facture</div>
          <div>Date</div>
          <div>Total vente</div>
          <div>Montant réglé</div>
          <div>Arrondi de vente</div>
          <div>Reste à percevoir</div>
        </div>
          <% montantsregles = [] %>
          <%# totauxventes = [] %>
          <% resteapercevoir = [] %>
        <% @ventes.sort_by(&:date).reverse.each do |vente| %>
          <li>
            <div class="wrapper-ventes-par-mois">
              <div></div>
              <div><%= vente.date.strftime("%d/%m") %></div>
              <%# totalvente = vente.vente_lignes.map { |ligne| ht_to_ttc(ligne.prixunitaireht) * ligne.quantite }.sum %>
              <%# totauxventes << totalvente %>
              <div> <%= number_with_precision(vente.total_ttc, precision: 2) %> €</div>
              <% montantregle = rand(0.00..vente.total_ttc+10.00).truncate(2) %>
              <% montantsregles << montantregle %>
              <div> <%= montantregle %> €</div>
              <div><%= rand().truncate(2) %> €</div>
              <% apercevoir = (vente.total_ttc - montantregle).truncate(2) %>
              <% resteapercevoir << apercevoir %>
              <div><%= apercevoir %> €</div>
            </div>
          </li>
        <% end %>
          <div class="ligne-total">  </div>
          <div class="wrapper-total-pointdevente">
          <div></div>
          <div></div>
          <div><%= number_with_precision(@pointdevente.ventes.map(&:total_ttc).sum, precision: 2) %> €</div>
          <div><%= number_with_precision(montantsregles.sum, precision: 2) %> €</div>
          <div></div>
          <div><%= number_with_precision(resteapercevoir.sum, precision: 2) %> €</div>
        </div>
      </ul>
      <%= area_chart @ventes.group_by_week(:date).sum(:total_ttc), colors: ["#A1BD7F"] %>
    </div>
  <% end %>
</div>
