<%= render 'shared/navbar' %>
<div class="container mt-4">
  <h2>Commentaires</h2>
  <div class="recherche-commentaires">
    <%= form_tag commentaires_path, method: :get, class: "form-inline" do %>
      <%= text_field_tag :query, params[:query], class: "form-control", placeholder: "" %>
      <%= link_to "Chercher", commentaires_path, class: "voir-tout-recap" %>
    <% end %>
  </div>
  <div class="commentaires-liste-index">
    <ul>
      <% @commentaires.sort.reverse.each do |commentaire| %>
        <% unless commentaire.description.empty? %>
          <% if commentaire.activite.nil?  %>
            <li>
              <div class="wrapper-recap-commentaires">
                <div class="date-commentaire-index"><%= commentaire.vente.date.strftime("%d/%m") %></div>
                <div class="activite-commentaire-index"><%= commentaire.vente.vente_point.nom %></div>
                <div class="legume-commentaire-index"></div>
                <div class="contenu-commentaire-index"><%= commentaire.description %></div>
              </div>
            </li>
          <% else %>
            <li>
              <div class="wrapper-recap-commentaires-activite">
                <div class="date-commentaire-index"><%= commentaire.activite.date.strftime("%d/%m") %></div>
                <div class="activite-commentaire-index"><%= commentaire.activite.nom %></div>
                <div class="legume-commentaire-index"><%= commentaire.activite.legume.nil? ? "" : commentaire.activite.legume.nom %></div>
                <div class="contenu-commentaire-index"><%= commentaire.description %></div>
                <!-- <div class="contenu-commentaire-index-img">
                  <#% unless commentaire.activite.maladie_ravageur.nil? %>
                    <%#= image_tag "ravageurs.png", class: "ravageurs" %>
                  <%# end %> -->
                <!-- </div> -->
              </div>
            </li>
          <% end %>
        <% end %>
      <% end %>
    </ul>
  </div>
</div>
