<%= render 'shared/navbar_home' %>


<div class="container">
  <div class="icones-home">
    <div class="to_hide mt-5"><%= link_to commentaires_path do %><i class="fas fa-comment-alt" id="commentaire-home"></i><% end %></div>
    <div id="meteo-widget" class="to_hide mt-5"><i class="fas fa-cloud-sun"></i> </div>
  </div>
  <div class="boxes">
    <%= link_to activites_recap_path do  %><div class="boxes-item"><p>Temps de travail</p></div><% end %>
    <%= link_to legumes_recap_path do  %><div class="boxes-item"><p>Cultures</p></div><% end %>
    <div class="boxes-item"><%= link_to ventes_recap_path do  %><p>Ventes</p><%= image_tag "panier.png", class: "panier" %><% end %></div>
  </div>
  <div class="activite-home-mobile">
    <%= link_to "Nouvelle activité", new_activite_path %>
  </div>
  <div class="panier-home-mobile">
    <%= link_to new_activite_path do %><%= image_tag "panier.png", class: "panier-mobile" %> <% end %>
  </div>
</div>

<div class="box-meteo mt-5">
  <div class="meteo float-right hidden" id="widget-meteofrance" >
    <script charset='UTF-8' src='https://www.meteofrance.com/mf3-rpc-portlet/rest/vignettepartenaire/385280/type/VILLE_FRANCE/size/PAYSAGE_VIGNETTE' type='text/javascript'></script>
  </div>
</div>
