<%= render 'shared/navbar' %>
<div class="container">
  <div class="barre-haut-home">
    <div class="date-home"><%= @datedujour_jour %> <%= Date.today.strftime("%e") %> <%= @datedujour_mois %> <%= Date.today.year %></div>
    <div class="icones-home">
      <div><%= link_to commentaires_path do %><i class="fas fa-comment-alt" id="commentaire-home"></i><% end %></div>
      <div><%= link_to photos_path do %><i class="far fa-images" id="photo-home"></i><% end %>
      </%></div>
    </div>
  </div>
  <div class="titres-boxes-oublier-faire-recolter">
    <div class="titre-oublier"><div class="inner-title">Ne pas oublier</div></div>
    <div class="titre-recolter"><div class="inner-title">À récolter</div></div>
    <div class="titre-faire"><div class="inner-title">À faire</div></div>
  </div>

  <div class="boxes-oublier-faire-recolter">
    <div class="box-oublier-home">
      <% @memos_nepasoublierpasses.each do |memo| %>
        <div class="detail-memo">
          <div class="description-memo text-danger"><i class="fas fa-chevron-right text-danger"></i><%= memo.description %>
          </div>
          <div class="crayon-edit-memo-home">
            <%= link_to edit_memo_path(memo) do %>
              <i class="fas fa-pencil-alt"></i>
            <% end %>
            <%= link_to memo_path(memo), method: :delete do %>
              <i class="fas fa-trash"></i>
            <% end %>
            <%= simple_form_for [memo] do |f| %>
              <div>
                <%= f.hidden_field :done, :value => true %>
                <%= f.submit "", :type => :image, :src => image_path("check-done.png") %>
              </div>
            <% end %>
          </div>
        </div>
      <% end %>
      <% @memos_nepasoublierfuturs.each do |memo| %>
        <div class="detail-memo">
          <div class="description-memo"><i class="fas fa-chevron-right"></i><%= memo.description %>
          </div>
          <div class="crayon-edit-memo-home">
            <%= link_to edit_memo_path(memo) do %>
              <i class="fas fa-pencil-alt"></i>
            <% end %>
            <%= link_to memo_path(memo), method: :delete do %>
              <i class="fas fa-trash"></i>
            <% end %>
            <%= simple_form_for [memo] do |f| %>
              <div>
                <%= f.hidden_field :done, :value => true %>
                <%= f.submit "", :type => :image, :src => image_path("check-done.png") %>
              </div>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>

    <div class="box-recolter-home">
      <div class="contenu-box-recolter-home">
        <div id="carouselarecolter-home" class="carousel slide" data-ride="carousel" data-interval="false">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <div class="inner-box-recolter-home">
                <div class="img-recolte">
                  <%= image_tag "recolte.png", id: "recolte-img-home" %>
                </div>
                <div>
                  <h2>Aujourd'hui</h2>
                  <ul>
                    <% @arecolter_ajd.each do |legume, detail| %>
                    <li>
                      <%= legume %> : <%= rem_trailing_zero(detail[:quantite]) %> <%= detail[:unite] != "kg" ? detail[:unite].pluralize : detail[:unite] %>
                    </li>
                    <% end %>
                  </ul>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="inner-box-recolter-home">
                <div class="img-recolte">
                  <%= image_tag "recolte.png", id: "recolte-img-home" %>
                </div>
                <div>
                  <h2>Demain</h2>
                  <ul>
                    <% @arecolter_j1.each do |legume, detail| %>
                    <li>
                      <%= legume %> : <%= rem_trailing_zero(detail[:quantite]) %> <%= detail[:unite] != "kg" ? detail[:unite].pluralize : detail[:unite] %>
                    </li>
                    <% end %>
                  </ul>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="inner-box-recolter-home">
                <div class="img-recolte">
                  <%= image_tag "recolte.png", id: "recolte-img-home" %>
                </div>
                <div>
                  <h2>Après-demain</h2>
                  <ul>
                    <% @arecolter_j2.each do |legume, detail| %>
                    <li>
                      <%= legume %> : <%= rem_trailing_zero(detail[:quantite]) %> <%= detail[:unite] != "kg" ? detail[:unite].pluralize : detail[:unite] %>
                    </li>
                    <% end %>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-controls-recolter">
        <a class="carousel-control-next carousel-control-prev-home" href="#carouselarecolter-home" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only text-success">Jour suivant</span>
        </a>
        <a class="carousel-control-next carousel-control-next-home" href="#carouselarecolter-home" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only text-success">Jour précedent</span>
        </a>
      </div>
    </div>

    <div class="box-faire-home">
      <div id="carouselfaire-home" class="carousel slide" data-ride="carousel" data-interval="false">
        <div class="carousel-inner">
          <div class="carousel-item active">
            Cette semaine
            <% unless @ventes_futures_semaine.empty? %>
              <div class="box-faire-home-ventes">
                <% @ventes_futures_semaine.sort_by(&:date).each do |vente| %>
                  <div class="detail-memo">
                    <div>
                      <i class="fas fa-chevron-right"></i>Livrer <%= link_to vente_path(vente) do %>
                        <%= vente.vente_point.nom %> (<%= abreviation_jour(vente.date) %>)
                      <% end %>
                    </div>
                  </div>
                <% end %>
              </div>
            <% end %>
            <% unless @ventes_futures_semaine.empty? %>
              <div class="separateur-ventes-afaire my-3">
              </div>
            <% end %>
            <div class="box-faire-home-memos">
              <% unless @todo_pas_faits.empty? %>
                <% @todo_pas_faits.sort_by(&:date).each do |memo| %>
                  <div class="detail-memo">
                    <div class="description-memo text-danger">
                      <i class="fas fa-chevron-right text-danger"></i><%= memo.description %>
                    </div>
                    <div class="crayon-edit-faire-home">
                      <%= link_to edit_memo_path(memo) do %>
                        <i class="fas fa-pencil-alt"></i>
                      <% end %>
                      <%= link_to memo_path(memo), method: :delete do %>
                        <i class="fas fa-trash"></i>
                      <% end %>
                      <%= simple_form_for [memo] do |f| %>
                          <div class="afaire-done"><%= f.hidden_field :done, :value => true %>
                            <%= f.submit "", :type => :image, :src => image_path("check-done.png") %>
                          </div>
                      <% end %>
                    </div>
                  </div>
                <% end %>
              <% end %>
              <% @todo_this_week.sort_by(&:date).each do |memo| %>
                <div class="detail-memo">
                  <div class="description-memo">
                    <i class="fas fa-chevron-right"></i>
                    <%= memo.description %> (<%= abreviation_jour(memo.date) %>)
                  </div>
                  <div class="crayon-edit-faire-home">
                    <%= link_to edit_memo_path(memo) do %>
                      <i class="fas fa-pencil-alt"></i>
                    <% end %>
                    <%= link_to memo_path(memo), method: :delete do %>
                      <i class="fas fa-trash"></i>
                    <% end %>
                    <%= simple_form_for [memo] do |f| %>
                      <div class="afaire-done">
                        <%= f.hidden_field :done, :value => true %>
                        <%= f.submit "", :type => :image, :src => image_path("check-done.png") %>
                      </div>
                    <% end %>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
          <div class="carousel-item">
            La semaine prochaine
            <% unless @todo_next_week.empty? %>
              <div class="box-faire-home-memos">
                <% @todo_next_week.sort_by(&:date).each do |memo| %>
                  <div class="detail-memo">
                    <div class="description-memo"><i class="fas fa-chevron-right"></i><%= memo.description %> (<%= abreviation_jour(memo.date) %> pro)</div>
                    <div class="crayon-edit-faire-home">
                      <%= link_to edit_memo_path(memo) do %>
                        <i class="fas fa-pencil-alt"></i>
                      <% end %>
                      <%= link_to memo_path(memo), method: :delete do %><i class="fas fa-trash"></i><% end %>
                      <%= simple_form_for [memo] do |f| %>
                          <div><%= f.hidden_field :done, :value => true %>
                          <%= f.submit "", :type => :image, :src => image_path("check-done.png") %></div>
                      <% end %>
                    </div>
                  </div>
                <% end %>
              </div>
            <% end %>
          </div>
          <div class="carousel-item">
            Quand j'ai le temps...
            <% @afairesansdate.each do |memo| %>
              <div class="detail-memo">
                <div class="description-memo">
                  <i class="fas fa-chevron-right"></i>
                  <%= memo.description %>
                </div>
                <div class="crayon-edit-faire-home">
                  <%= link_to edit_memo_path(memo) do %>
                    <i class="fas fa-pencil-alt"></i>
                  <% end %>
                  <%= link_to memo_path(memo), method: :delete do %>
                    <i class="fas fa-trash"></i>
                  <% end %>
                  <%= simple_form_for [memo] do |f| %>
                    <div class="afaire-done">
                      <%= f.hidden_field :done, :value => true %>
                      <%= f.submit "", :type => :image, :src => image_path("check-done.png") %>
                    </div>
                  <% end %>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
      <div class="carousel-controls">
        <a class="carousel-control-prev carousel-control-prev-home-faire" href="#carouselfaire-home" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only text-success">Jour suivant</span>
        </a>
        <a class="carousel-control-next carousel-control-next-home-faire" href="#carouselfaire-home" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only text-success">Jour précedent</span>
        </a>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="boxes-forms">
      <div class="box-form-1">
        <%= simple_form_for(@memo) do |f| %>
          <div class="form-new-todo-home">
            <div class="form-new-todo-home-desc">
              <%= f.input :description, label: false, :placeholder => "Mémo" %>
            </div>
            <div class="form-new-todo-home-date">
              <%= f.input :date, as: :string, :placeholder => "Date",label: false, input_html: { class: "datepicker" } %>
              <%= f.hidden_field :categorie, :value => "Ne pas oublier" %>
            </div>
            <div class="submit-plus-commentaire-vente">
            <%= f.submit  "", :type => :image, :src => image_path("plus-rond.png"), class: "img-plus-new-todo"%>
            </div>
          </div>
        <% end %>
      </div>
      <div class="box-form-1"></div>
      <div class="box-form-2">
        <%= simple_form_for(@memo) do |f| %>
          <div class="form-new-todo-home">
            <div class="form-new-todo-home-desc">
              <%= f.input :description, label: false, :placeholder => "Tâche" %>
            </div>
            <div class="form-new-todo-home-date">
              <%= f.input :date, as: :string, :placeholder => "Date",label: false, input_html: { class: "datepicker" } %>
              <%= f.hidden_field :categorie, :value => "À faire" %>
            </div>
            <div class="submit-plus-commentaire-vente">
            <%= f.submit  "", :type => :image, :src => image_path("plus-rond.png"), class: "img-plus-new-todo"%>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="ca-realise">Tu as déjà fait <b><%=number_with_precision((@catotal.to_f*100)/@caprevi, precision: 2)%> %</b> de ton prévisionnel et...</div>
  <div class= "encouragements text-success"><%= @encouragement %></div>

    <%= @ventesgraph %>

</div>

