<div class="to_hide">
  <%= render 'shared/navbar' %>
</div>
<div class="container to_hide">
  <div class="barre-haut-home">
    <div class="date-home"><%= @datedujour_jour %> <%= Date.today.strftime("%e") %> <%= @datedujour_mois %> <%= Date.today.year %></div>
    <div class="icones-home">
      <div><%= link_to commentaires_path do %><i class="fas fa-comment-alt" id="commentaire-home"></i><% end %></div>
      <div><%= link_to photos_path do %><i class="far fa-images" id="photo-home"></i><% end %>
      </%></div>
    </div>
  </div>
  <div class="titres-boxes-oublier-faire-recolter">
    <div class="titre-oublier"><div class="inner-title">Ne pas oublier</div></div>
    <div class="titre-recolter"><div class="inner-title">À récolter</div></div>
    <div class="titre-faire"><div class="inner-title">À faire</div></div>
  </div>

  <div class="boxes-oublier-faire-recolter">
    <div class="box-oublier-home">
      <% @memos_nepasoublierpasses.each do |memo| %>
        <div class="detail-memo">
          <div class="description-memo text-danger"><i class="fas fa-chevron-right text-danger"></i><%= memo.description %> (<%= memo.date.strftime("%d/%m") %>)
          </div>
          <div class="crayon-edit-memo-home">
            <%= link_to edit_memo_path(memo) do %>
              <i class="fas fa-pencil-alt"></i>
            <% end %>
            <%= link_to memo_path(memo), method: :delete do %>
              <i class="fas fa-trash"></i>
            <% end %>
            <%= simple_form_for [memo] do |f| %>
              <div>
                <%= f.hidden_field :done, :value => true, :id => "memo_done#{memo.id}" %>
                <%= f.submit "", :type => :image, :src => image_path("check-done.png") %>
              </div>
            <% end %>
          </div>
        </div>
      <% end %>
      <% @memos_nepasoublierfuturs.each do |memo| %>
        <div class="detail-memo">
          <div class="description-memo"><i class="fas fa-chevron-right"></i><%= memo.description %> (<%= memo.date.strftime("%d/%m") %>)
          </div>
          <div class="crayon-edit-memo-home">
            <%= link_to edit_memo_path(memo) do %>
              <i class="fas fa-pencil-alt"></i>
            <% end %>
            <%= link_to memo_path(memo), method: :delete do %>
              <i class="fas fa-trash"></i>
            <% end %>
            <%= simple_form_for [memo] do |f| %>
              <div>
                <%= f.hidden_field :done, :value => true, :id => "memo_done#{memo.id}" %>
                <%= f.submit "", :type => :image, :src => image_path("check-done.png") %>
              </div>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>

    <div class="box-recolter-home">
      <div class="contenu-box-recolter-home">
        <div id="carouselarecolter-home" class="carousel slide" data-ride="carousel" data-interval="false">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <div class="inner-box-recolter-home">
                <div class="img-recolte">
                  <%= image_tag "recolte.png", class: "recolte-img-home" %>
                </div>
                <div>
                  <h2>Aujourd'hui</h2>
                  <ul>
                    <% @arecolter_ajd.each do |legume, detail| %>
                    <li>
                      <%= legume %> : <%= rem_trailing_zero(detail[:quantite]) %> <%= detail[:unite] != "kg" ? detail[:unite].pluralize : detail[:unite] %>
                    </li>
                    <% end %>
                  </ul>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="inner-box-recolter-home">
                <div class="img-recolte">
                  <%= image_tag "recolte.png", class: "recolte-img-home" %>
                </div>
                <div>
                  <h2>Demain</h2>
                  <ul>
                    <% @arecolter_j1.each do |legume, detail| %>
                    <li>
                      <%= legume %> : <%= rem_trailing_zero(detail[:quantite]) %> <%= detail[:unite] != "kg" ? detail[:unite].pluralize : detail[:unite] %>
                    </li>
                    <% end %>
                  </ul>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="inner-box-recolter-home">
                <div class="img-recolte">
                  <%= image_tag "recolte.png", class: "recolte-img-home" %>
                </div>
                <div>
                  <h2>Après-demain</h2>
                  <ul>
                    <% @arecolter_j2.each do |legume, detail| %>
                    <li>
                      <%= legume %> : <%= rem_trailing_zero(detail[:quantite]) %> <%= detail[:unite] != "kg" ? detail[:unite].pluralize : detail[:unite] %>
                    </li>
                    <% end %>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-controls-recolter">
        <a class="carousel-control-next carousel-control-prev-home" href="#carouselarecolter-home" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only text-success">Jour suivant</span>
        </a>
        <a class="carousel-control-next carousel-control-next-home" href="#carouselarecolter-home" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only text-success">Jour précedent</span>
        </a>
      </div>
    </div>

    <div class="box-faire-home">
      <div id="carouselfaire-home" class="carousel slide" data-ride="carousel" data-interval="false">
        <div class="carousel-inner">
          <div class="carousel-item active">
            Cette semaine
            <% unless @ventes_futures_semaine.empty? %>
              <div class="box-faire-home-ventes">
                <% @ventes_futures_semaine.sort_by(&:date).each do |vente| %>
                  <div class="detail-memo">
                    <div>
                      <i class="fas fa-chevron-right"></i>Livrer <%= link_to vente_path(vente) do %>
                        <%= vente.vente_point.nom %> (<%= abreviation_jour(vente.date) %>)
                      <% end %>
                    </div>
                  </div>
                <% end %>
              </div>
            <% end %>
            <% unless @ventes_futures_semaine.empty? %>
              <div class="separateur-ventes-afaire my-3">
              </div>
            <% end %>
            <div class="box-faire-home-memos">
              <% unless @todo_pas_faits.empty? %>
                <% @todo_pas_faits.sort_by(&:date).each do |memo| %>
                  <div class="detail-memo">
                    <div class="description-memo text-danger">
                      <i class="fas fa-chevron-right text-danger"></i><%= memo.description %> (<%= memo.date.strftime("%d/%m") %>)
                    </div>
                    <div class="crayon-edit-faire-home">
                      <%= link_to edit_memo_path(memo) do %>
                        <i class="fas fa-pencil-alt"></i>
                      <% end %>
                      <%= link_to memo_path(memo), method: :delete do %>
                        <i class="fas fa-trash"></i>
                      <% end %>
                      <%= simple_form_for [memo] do |f| %>
                          <div class="afaire-done"><%= f.hidden_field :done, :value => true, :id => "memo_done#{memo.id}" %>
                            <%= f.submit "", :type => :image, :src => image_path("check-done.png") %>
                          </div>
                      <% end %>
                    </div>
                  </div>
                <% end %>
              <% end %>
              <% @todo_this_week.sort_by(&:date).each do |memo| %>
                <div class="detail-memo">
                  <div class="description-memo">
                    <i class="fas fa-chevron-right"></i>
                    <%= memo.description %> (<%= memo.date.strftime("%d/%m") %>)
                  </div>
                  <div class="crayon-edit-faire-home">
                    <%= link_to edit_memo_path(memo) do %>
                      <i class="fas fa-pencil-alt"></i>
                    <% end %>
                    <%= link_to memo_path(memo), method: :delete do %>
                      <i class="fas fa-trash"></i>
                    <% end %>
                    <%= simple_form_for [memo] do |f| %>
                      <div class="afaire-done">
                        <%= f.hidden_field :done, :value => true, :id => "memo_done#{memo.id}" %>
                        <%= f.submit "", :type => :image, :src => image_path("check-done.png") %>
                      </div>
                    <% end %>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
          <div class="carousel-item">
            La semaine prochaine
            <% unless @todo_next_week.empty? %>
              <div class="box-faire-home-memos">
                <% @todo_next_week.sort_by(&:date).each do |memo| %>
                  <div class="detail-memo">
                    <div class="description-memo"><i class="fas fa-chevron-right"></i><%= memo.description %> (<%= memo.date.strftime("%d/%m") %>)</div>
                    <div class="crayon-edit-faire-home">
                      <%= link_to edit_memo_path(memo) do %>
                        <i class="fas fa-pencil-alt"></i>
                      <% end %>
                      <%= link_to memo_path(memo), method: :delete do %><i class="fas fa-trash"></i><% end %>
                      <%= simple_form_for [memo] do |f| %>
                          <div><%= f.hidden_field :done, :value => true, :id => "memo_done#{memo.id}" %>
                          <%= f.submit "", :type => :image, :src => image_path("check-done.png") %></div>
                      <% end %>
                    </div>
                  </div>
                <% end %>
              </div>
            <% end %>
          </div>
          <div class="carousel-item">
            Quand j'ai le temps...
            <% @afairesansdate.each do |memo| %>
              <div class="detail-memo">
                <div class="description-memo">
                  <i class="fas fa-chevron-right"></i>
                  <%= memo.description %>
                </div>
                <div class="crayon-edit-faire-home">
                  <%= link_to edit_memo_path(memo) do %>
                    <i class="fas fa-pencil-alt"></i>
                  <% end %>
                  <%= link_to memo_path(memo), method: :delete do %>
                    <i class="fas fa-trash"></i>
                  <% end %>
                  <%= simple_form_for [memo] do |f| %>
                    <div class="afaire-done">
                      <%= f.hidden_field :done, :value => true, :id => "memo_done#{memo.id}" %>
                      <%= f.submit "", :type => :image, :src => image_path("check-done.png") %>
                    </div>
                  <% end %>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
      <div class="carousel-controls">
        <a class="carousel-control-prev carousel-control-prev-home-faire" href="#carouselfaire-home" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only text-success">Jour suivant</span>
        </a>
        <a class="carousel-control-next carousel-control-next-home-faire" href="#carouselfaire-home" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only text-success">Jour précedent</span>
        </a>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="boxes-forms">
      <div class="box-form-1">
        <%= simple_form_for(@memo) do |f| %>
          <div class="form-new-todo-home">
            <div class="form-new-todo-home-desc">
              <%= f.input :description, label: false, :placeholder => "Mémo", :input_html => { :id => "memo_description#{@memos.last.id.to_i + 20000}", :class => "description-new-memo" } %>
            </div>
            <div class="form-new-todo-home-date">
              <%= f.input :date, as: :string, :placeholder => "Date",label: false, input_html: { class: "datepicker", :id => "memo_date#{@memo.id.to_i + 20000}" }, :id => "memo_date#{@memo.id.to_i + 20000}" %>
              <%= f.hidden_field :categorie, :value => "Ne pas oublier", :id => "memo_categorie#{@memo.id.to_i + 20000}" %>
            </div>
            <div class="submit-plus-commentaire-vente">
            <%= f.submit  "", :type => :image, :src => image_path("plus-rond.png"), class: "img-plus-new-todo"%>
            </div>
          </div>
        <% end %>
      </div>
      <div class="box-form-1"></div>
      <div class="box-form-2">
        <%= simple_form_for(@memo, html: { id: "new_form#{10000}"} ) do |f| %>
          <div class="form-new-todo-home">
            <div class="form-new-todo-home-desc">
              <%= f.input :description, label: false, :placeholder => "Tâche", :input_html => { :id => "memo_description#{@memos.last.id.to_i + 10000}", :class => "description-new-memo" } %>
            </div>
            <div class="form-new-todo-home-date">
              <%= f.input :date, as: :string, :placeholder => "Date",label: false, input_html: { class: "datepicker", :id => "memo_date#{@memo.id.to_i + 10000}" }, :id => "memo_date#{@memo.id.to_i + 10000}" %>
              <%= f.hidden_field :categorie, :value => "À faire", :id => "memo_categorie#{@memo.id.to_i + 10000}" %>
            </div>
            <div class="submit-plus-commentaire-vente">
            <%= f.submit  "", :type => :image, :src => image_path("plus-rond.png"), class: "img-plus-new-todo"%>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="ca-realise">Tu as déjà fait <b><%=number_with_precision((@catotal.to_f * 100) / @caprevi, precision: 2)%> %</b> de ton prévisionnel et...</div>
  <div class= "encouragements text-success"><%= @encouragement %></div>
    <%= @ventesgraph %>
</div>
<div class="entete-mobile mobile-hidden mobile-elements">
  <%= render 'shared/navbar' %>
  <%= link_to new_activite_path do %><%= image_tag "agricultrice.png", class: "logo-mobile" %> <% end %>
</div>
<div class="container mobile-hidden mobile-elements">
  <% if @ventes_ajd.empty? %>
    <h3 class="mt-4">Pas de ventes aujourd'hui !</h3>
  <% else %>
    <h3 class="mt-4">Les ventes du jour</h3>
    <div class="ventes-today-home-mobile">
      <ul>
        <% @ventes_ajd.each do |vente| %>
          <li>
            <i class="fas fa-chevron-right text-success"></i>
            <% if vente.paniers.empty? %>
              <%= vente.vente_point.nom %>
            <% else %>
              <button type="button" data-toggle="collapse" data-target="#paniersvente<%= vente.id %>" aria-expanded="false" aria-controls="paniersvente<%= vente.id %>">
                <%= vente.vente_point.nom %> <%= image_tag "panier.png", class: "panier-home" %>
              </button>
            <% end %>
          </li>
          <div class="collapse" id="paniersvente<%= vente.id %>">
            <% vente.paniers.sort_by(&:prix_ttc).each do |panier| %>
              <div class="detail-paniers-home">
                <div class="titre-panier-home mt-2">
                  <%= panier.quantite %> <%= panier.quantite > 1 ? "panier".pluralize : "panier" %> à <%= panier.prix_ttc.to_i %> €
                </div>
                <div class="detail-paniers">
                  <ul>
                    <% panier.panier_lignes.sort_by(&:created_at).each do |ligne| %>
                      <li>
                        <div class="panier-nom-legume">
                          <%= ligne.legume.nom %>
                        </div>
                        <div>
                          <div class="panier-quantite-legume">
                            <%= rem_trailing_zero(ligne.quantite) %>
                            <% if ligne.unite.nil? || ligne.unite == "" %>
                              <%= ligne.quantite > 1 && ligne.legume.unite != "kg" ? ligne.legume.unite.pluralize : ligne.legume.unite %>
                            <% else %>
                              <%= ligne.quantite > 1 && ligne.unite != "kg" ? ligne.unite.pluralize : ligne.unite %>
                            <% end %>
                          </div>
                        </div>
                       </li>
                    <% end %>
                  </ul>
                </div>
              </div>
            <% end %>
          </div>
        <% end %>
      </ul>
    </div>
  <% end %>
  <% unless @arecolter_ajd.empty? %>
    <h3 class="mt-3">À récolter</h3>
    <div class="box-recolter-home-mobile">
      <div>
        <ul>
          <% @arecolter_ajd.each do |legume, detail| %>
            <li>
              <%= legume %> : <%= rem_trailing_zero(detail[:quantite]) %> <%= detail[:unite] != "kg" ? detail[:unite].pluralize : detail[:unite] %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  <% end %>
  <% unless @memos_nepasoubliertoday.empty? && @memos_nepasoublierpasses.empty? %>
    <h3 class="mt-4">Ne pas oublier</h3>
    <div class="nepasoublier-mobile">
      <ul>
        <% @memos_nepasoubliertoday.each do |memo| %>
          <li><i class="fas fa-chevron-right text-success"></i><%= memo.description %> </li>
        <% end %>
        <% @memos_nepasoublierpasses.each do |memo| %>
          <li><i class="fas fa-chevron-right text-danger"></i><%= memo.description %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <h3 class="mt-4">À faire</h3>
  <div class="afaire-mobile mb-5">
    <ul>
      <% @todo_today.each do |todo| %>
        <li><i class="fas fa-chevron-right text-success"></i><%= todo.description %></li>
      <% end %>
      <% unless @todo_pas_faits.empty? %>
      <div class="separateur-afaire-passes my-3"></div>
        <li>
          <button type="button" data-toggle="collapse" data-target="#todoenretard" aria-expanded="false" aria-controls="todoenretard">
            <i class="fas fa-chevron-right text-dark"></i>2-3 petits trucs en retard...
          </button>
        <div class="collapse" id="todoenretard">
          <ul>
            <% @todo_pas_faits.each do |todo| %>
              <li>
                <i class="fas fa-chevron-right text-danger"></i><%= todo.description %>
              </li>
            <% end %>
          </ul>
        </div>
        </li>
      <% end %>
      <% unless @afairesansdate.empty? %>
        <li>
          <button type="button" data-toggle="collapse" data-target="#todosansdate" aria-expanded="false" aria-controls="todosansdate">
            <i class="fas fa-chevron-right text-dark"></i>si t'as vraiment le temps !
          </button>
        <div class="collapse" id="todosansdate">
          <ul>
            <% @afairesansdate.each do |todo| %>
              <li>
                <i class="fas fa-chevron-right text-success"></i><%= todo.description %>
              </li>
            <% end %>
          </ul>
        </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>
