<%= render 'shared/navbar' %>
<div class="container mt-4 ">
  <h2 class="to_hide">Modifier l'activité</h2>
</div>
<%= image_tag "poivron.jpg", class: "poivron" %>
<div class="container-form">

  <%= simple_form_for @activite do |f| %>
  <div class="flex-container">
    <div class="flex-item">
      <%= f.input :nom, :label => "ACTIVITÉ", collection: ["Plantation", "Entretien des cultures", "Observation", "Bricolage", "Administratif", "Préparation planche", "Divers", "Vente (dont transport)", "Récolte et préparation vente", "Nettoyage planche"] %>
      <div class="to_hide">
          <%= f.input :date, as: :string, :label => "DATE", input_html: { class: "datepicker" } %>
          <%= f.input :heure_debut, :label => "HEURE DÉBUT" %>
          <%= f.input :heure_fin, :label => "HEURE FIN" %>
      </div>
    </div>
    <div class="flex-item to_hide">
      <%= f.association :legume, label_method: :nom, :label => "LÉGUME" %>
      <div class="plancheselect">
        <%= f.association :planche, label_method: :nom, :label => "PLANCHE" %>
        <button type="button" class="btn" data-toggle="modal" data-target="#exampleModal">
          <i class="fas fa-binoculars"></i>
        </button>
      </div>
      <p class="avertissement">Attention : mettre une planche et un légume si plantation !</p>
    </div>
    <div class="flex-item to_hide">
      <%= f.input :tag_list, :label => "ASSISTANT(S)" %>
      <%= f.simple_fields_for :commentaires do |m| %>
      <%= m.input :description, :label => "COMMENTAIRE"  %>
      <% end %>
      <%= f.input :photos, as: :file, :label => "PHOTO", input_html: { multiple: true } %>
    </div>
  </div>
</div>
<div class="bottom-button fixed-bottom">
  <%= f.submit " ", :type => :image, :src => image_path("save-rond.png"), class: "save-rond" %>
  <% end %>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content modal-content-planches">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"><h2>Les planches</h2></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="columns">
          <div class="left-col">
            <% jardins_left = ["Jardin D", "Jardin E", "Jardin F"] %>
            <% @jardins.select { |jardin, _value| jardins_left.include?(jardin)}.each do |jardin, planches| %>
              <div class="jardins">
                <div class="jardins-titre"><p><%= jardin %></p></div>
                <ul class="lignes-planche">
                  <% planches.each do |planche| %>
                    <li>
                      <% plantations = planche.activites.filter { |activite| activite.nom == "Plantation" } %>
                      <% if plantations.any? %>
                        <% plantations.map {|plantation| plantation.legume}.uniq.each do |legume| %>
                          <% if legume != nil? %>
                            <div class="ligne-planche <%= legume.famille.tr("é", "e").downcase %>-bg-color">
                              <%= planche.nom %> - <%= legume.nom %>
                            </div>
                          <% else %>
                            <%= planche.nom %>
                          <% end %>
                        <% end %>
                      <% else %>
                        <%= planche.nom %>
                      <% end %>
                    </li>
                  <% end %>
                </ul>
              </div>
            <% end %>
          </div>
          <div class="right-col">
            <% jardins_left = ["Jardin A", "Jardin B", "Jardin C"] %>
            <% @jardins.select { |jardin, _value| jardins_left.include?(jardin)}.each do |jardin, planches| %>
              <div class="jardins">
                <div class="jardins-titre"><p><%= jardin %></p></div>
                <ul class="lignes-planche">
                  <% planches.each do |planche| %>
                    <li>
                      <% plantations = planche.activites.filter { |activite| activite.nom == "Plantation" } %>
                      <% if plantations.any? %>
                        <% plantations.map {|plantation| plantation.legume}.uniq.each do |legume| %>
                          <% if legume != nil? %>
                            <div class="ligne-planche <%= legume.famille.tr("é", "e").downcase %>-bg-color">
                              <%= planche.nom %> - <%= legume.nom %>
                            </div>
                          <% else %>
                            <%= planche.nom %>
                          <% end %>
                        <% end %>
                      <% else %>
                        <%= planche.nom %>
                      <% end %>
                    </li>
                  <% end %>
                </ul>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
