<%= render 'shared/navbar' %>
<div class="container mt-4">
  <h2>Les activités</h2>
  <%= link_to activites_recap_path do %>
   <div class="voir-tout-recap">Récap</div>
  <% end %>
  <div class="toutes-activites">
    <ul>
    <% @activites.sort_by(&:date).reverse.each do |activite| %>
      <li>
        <div class="ligne-activite">
          <div class="date-activite"> <%= activite.date != nil ? activite.date.strftime("%d/%m") : "" %></div>
          <div class="nom-activite"><%= activite.nom %></div>
          <div class="legume-activite"><%= activite.legume != nil ? activite.legume.nom : "" %></div>
          <div class="planche-activite"><%= activite.planche != nil ? activite.planche.nom : "" %></div>
          <div class="duree-activite"><% t= activite.heure_fin - activite.heure_debut %><%= Time.at(t).utc.strftime("%Hh%M") %></div>
          <div class="personne-activite">
            <% if (activite.tag_list.count+1) > 3 %>
              <% (activite.tag_list.count-1).times do %>
              <i class="fas fa-user"></i>
              <% end %>
              <i class="fas fa-user-plus"></i>
            <% else (activite.tag_list.count+1).times do %>
              <i class="fas fa-user"></i>
            <% end %>
            <% end %>
          </div>
          <div class="commentaire-all-activites">
            <button type="button" data-toggle="modal" data-target="#exampleModalCenter<%= activite.id %>">
            <i class="fas fa-comment-alt"></i>
            </button>
          </div>
          <div class="modal fade" id="exampleModalCenter<%= activite.id %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLongTitle">Commentaire</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Fermer">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <% activite.commentaires.each do |commentaire| %>
                  <%= commentaire.description %>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
          <%= link_to edit_activite_path(activite) do %> <div class="crayon-all-activites"><i class="fas fa-pencil-alt"></i><% end %></div>
        </div>
        <% end  %>
      </li>
    </ul>
  </div>
</div>




