<%= render 'shared/navbar' %>
<div class="container mt-4">
  <h2 class="to_hide">Nouvelle activité</h2>
</div>
<%= image_tag "poivron.jpg", class: "poivron" %>
<div class="container-form" id='mobile-container'>

  <%= simple_form_for @activite do |f| %>
  <div class="flex-container" id='mobile-form'>
    <div class="flex-item" id='new-activite-nom'>
      <%= f.input :nom, :label => "ACTIVITÉ", collection: ["Plantation", "Entretien des cultures", "Observation", "Bricolage", "Administratif", "Préparation planche", "Divers", "Vente (dont transport)", "Récolte et préparation vente"], input_html: { class: 'select2activite' } %>
      <div class="to_hide">
          <%= f.input :date, as: :string, :label => "DATE", input_html: { class: "datepicker" } %>
          <%= f.input :heure_debut, :label => "HEURE DÉBUT" %>
          <%= f.input :heure_fin, :label => "HEURE FIN" %>
      </div>
    </div>
    <p class='hidden' id='new-activite-finish'>Activité terminée !</p>
    <div class="flex-item to_hide" id='new-activite-legumes'>
      <%= f.association :legume, label_method: :nom, :label => "LÉGUME",
      input_html: { class: 'select2' }  %>
      <div class="plancheselect">
        <%= f.association :planche, label_method: :nom, :label => "PLANCHE", input_html: { class: 'select2planche' } %>
        <button type="button" class="btn" data-toggle="modal" data-target="#exampleModal">
          <i class="fas fa-binoculars"></i>
        </button>
      </div>
        <p class="avertissement">Attention : mettre une planche si plantation !</p>
    </div>
    <div class="flex-item to_hide" id='new-activite-tags'>
      <%= f.input :tag_list, :label => "ASSISTANT(S)" %>
      <%= f.simple_fields_for :commentaires do |m| %>
        <div id="commentaire-form">
          <%= m.input :description, :label => "COMMENTAIRE" %>
        </div>
      <% end %>
      <%= f.input :photos, as: :file, :label => "PHOTO", input_html: { multiple: true } %>
    </div>
  </div>
</div>
<p class='hidden' id='new-activite-running'>Activité en cours...</p>
<div class="bottom-button fixed-bottom">
  <%= image_tag "play-rond.png", alt: "start-activity", id: 'play-button', class: 'play-rond mobile-hidden' %>
</div>
<div class="bottom-button fixed-bottom to_hide stop-button-div">
  <%= image_tag "stop.png", alt: "stop-activity", id: 'stop-button', class: 'stop-rond mobile-hidden' %>
</div>
<div class="bottom-button fixed-bottom to_hide" id='save-button'>
  <%= f.submit " ", :type => :image, :src => image_path("save-rond.png"), class: "save-rond" %>
  <% end %>
</div>


<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"><h2>Les planches</h2></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="columns">
          <div class="left-col">
            <% jardins_left = ["Jardin D", "Jardin E", "Jardin F"] %>
            <% @jardins.select { |jardin, _value| jardins_left.include?(jardin)}.each do |jardin, planches| %>
              <div class="jardins">
                <div class="jardins-titre"><p><%= jardin %></p></div>
                <ul class="lignes-planche">
                  <% planches.each do |planche| %>
                    <li>
                      <% plantations = planche.activites.filter { |activite| activite.nom == "Plantation" } %>
                      <% if plantations.any? %>
                        <% plantations.each do |activite| %>
                          <% if activite.legume != nil? %>
                            <div class="ligne-planche <%= activite.legume.legume_css %>-bg-color">
                              <%= planche.nom %> - <%= activite.legume.nom %>
                            </div>
                          <% else %>
                            <%= planche.nom %>
                          <% end %>
                        <% end %>
                      <% else %>
                        <%= planche.nom %>
                      <% end %>
                    </li>
                  <% end %>
                </ul>
              </div>
            <% end %>
          </div>
          <div class="right-col">
            <% jardins_left = ["Jardin A", "Jardin B", "Jardin C"] %>
            <% @jardins.select { |jardin, _value| jardins_left.include?(jardin)}.each do |jardin, planches| %>
              <div class="jardins">
                <div class="jardins-titre"><p><%= jardin %></p></div>
                <ul class="lignes-planche">
                  <% planches.each do |planche| %>
                    <li>
                      <% plantations = planche.activites.filter { |activite| activite.nom == "Plantation" } %>
                      <% if plantations.any? %>
                        <% plantations.each do |activite| %>
                          <% if activite.legume != nil? %>
                            <div class="ligne-planche <%= activite.legume.legume_css %>-bg-color">
                              <%= planche.nom %> - <%= activite.legume.nom %>
                            </div>
                          <% else %>
                            <%= planche.nom %>
                          <% end %>
                        <% end %>
                      <% else %>
                        <%= planche.nom %>
                      <% end %>
                    </li>
                  <% end %>
                </ul>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
