<%= render 'shared/navbar' %>
<div class="container mt-4">
  <h2 class="mb-5">Modifier le légume</h2>
  <div class="nouveau-legume">
    <%= simple_form_for @legume do |f| %>
      <%= f.input :nom, :label => "NOM", required: true %>
      <%= f.input :legume_css, :label => "NOM sans accent ni espace", placeholder: "ex : pdt_nouvelle, chou_rouge", required: true %>
      <%= f.input :famille, :label => "FAMILLE", collection: ["Alliacées", "Brassicacées", "Cucurbitacées", "Fabacées", "Solanacées"] %>
      <%= f.input :prix_general, :label => "PRIX GÉNÉRAL", placeholder: "ex : 3.80, 1.00", required: true %>
      <%= f.input :photo, as: :file, required: true %>
      <div class="save-legume">
        <%= f.submit " ", :type => :image, :src => image_path("save-rond.png"), class: "save-rond save-legume" %>
      </div>
    <% end %>
  </div>
</div>
