<%= render 'shared/navbar' %>
<div class="container mt-4">
  <h2>Les légumes</h2>
</div>
<div class="img-legumes">
  <%= image_tag "radis.jpg", class: "radis" %>
  <%= image_tag "aubergine.jpg", class: "aubergine" %>
  <%= image_tag "oignon.jpg", class: "oignon" %>
</div>
<div class="container">
  <div class="tri-legume">
    <div id="par-sem-legume">Par semaine <i class="fas fa-calendar-alt"></i></i></div>
    <div id="par-nom-legume">Nom de légume <i class="fas fa-sort-alpha-down"></i></div>
    <div id="par-ca-legume">CA de légume <i class="fas fa-sort-amount-down"></i></div>
  </div>

  <div class="tous-legumes hidden">
    <div class="liste-legume mr-3 mb-5">
      <table class="tous-legumes-table">
        <thead>
          <tr>
            <th>Légume</th>
            <th>CA</th>
            <th>% CA</th>
          </tr>
        </thead>
        <tbody>
          <% @tous_legumes_parlegume[0...@firsthalf].each do |legume| %>
          <tr>
            <td><%= link_to legume_path(legume[:legume_css]) do %> <%= legume[:nom] %> <% end %></td>
            <td><%= number_with_precision(legume[:calegume], precision: 2) %> €</td>
            <td><%= number_with_precision(legume[:pourcentage_ca], precision: 2) %> %</td>
            <td>
              <% if legume[:commentaires] %>
                <button type="button" data-toggle="modal" data-target="#ModalCenter<%= legume[:legume_css] %>">
                  <i class="fas fa-comment-alt"></i>
                </button>
                <div class="modal fade" id="ModalCenter<%= legume[:legume_css] %>" tabindex="-1" role="dialog" aria-labelledby="ModalCenterTitle" aria-hidden="true">
                  <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content modal-commentaires-index-legumes">
                      <div class="modal-header">
                        <h5 class="modal-title" id="modalLongTitle"><%= legume[:nom] %></h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Fermer">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body commentaires-liste">
                        <ul>
                          <% legume[:commentaires].each do |date, description| %>
                            <li>
                              <div class="date-commentaire"><%= date.to_date.strftime("%d/%m") %></div>
                              <div class="contenu-commentaire"><%= description %></div>
                            </li>
                          <% end %>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              <% end %>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <div class="liste-legume mr-3 mb-5">
      <table class="tous-legumes-table">
        <thead>
          <tr>
            <th>Légume</th>
            <th>CA</th>
            <th>% CA</th>
          </tr>
        </thead>
        <tbody>
          <% @tous_legumes_parlegume[@secondhalf..@nb_legumes].each do |legume| %>
          <tr>
            <td><%= link_to legume_path(legume[:legume_css]) do %> <%= legume[:nom] %> <% end %></td>
            <td><%= number_with_precision(legume[:calegume], precision: 2) %> €</td>
            <td><%= number_with_precision(legume[:pourcentage_ca], precision: 2) %> %</td>
            <td>
              <% if legume[:commentaires] %>
                <button type="button" data-toggle="modal" data-target="#ModalCenter<%= legume[:legume_css] %>">
                  <i class="fas fa-comment-alt"></i>
                </button>
                <div class="modal fade" id="ModalCenter<%= legume[:legume_css] %>" tabindex="-1" role="dialog" aria-labelledby="ModalCenterTitle" aria-hidden="true">
                  <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content modal-commentaires-index-legumes">
                      <div class="modal-header">
                        <h5 class="modal-title" id="modalLongTitle"><%= legume[:nom] %></h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Fermer">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body commentaires-liste">
                        <ul>
                          <% legume[:commentaires].each do |date, description| %>
                            <li>
                              <div class="date-commentaire"><%= date.to_date.strftime("%d/%m") %></div>
                              <div class="contenu-commentaire"><%= description %></div>
                            </li>
                          <% end %>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              <% end %>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>


  <div class="tous-legumes-ca hidden">
    <div class="liste-legume mr-3 mb-5">
      <table class="tous-legumes-table">
        <thead>
          <tr>
            <th>Légume</th>
            <th>CA</th>
            <th>% CA</th>
          </tr>
        </thead>
        <tbody>
          <% @tous_legumes_parca[0...@firsthalf].each do |legume| %>
          <tr>
            <td><%= link_to legume_path(legume[:legume_css]) do %> <%= legume[:nom] %> <% end %></td>
            <td><%= number_with_precision(legume[:calegume], precision: 2) %> €</td>
            <td><%= number_with_precision(legume[:pourcentage_ca], precision: 2) %> %</td>
            <td>
              <% if legume[:commentaires] %>
                <button type="button" data-toggle="modal" data-target="#ModalCenter<%= legume[:legume_css] %>">
                  <i class="fas fa-comment-alt"></i>
                </button>
                <div class="modal fade" id="ModalCenter<%= legume[:legume_css] %>" tabindex="-1" role="dialog" aria-labelledby="ModalCenterTitle" aria-hidden="true">
                  <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content modal-commentaires-index-legumes">
                      <div class="modal-header">
                        <h5 class="modal-title" id="modalLongTitle"><%= legume[:nom] %></h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Fermer">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body commentaires-liste">
                        <ul>
                          <% legume[:commentaires].each do |date, description| %>
                            <li>
                              <div class="date-commentaire"><%= date.to_date.strftime("%d/%m") %></div>
                              <div class="contenu-commentaire"><%= description %></div>
                            </li>
                          <% end %>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              <% end %>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <div class="liste-legume mr-3 mb-5">
      <table class="tous-legumes-table">
        <thead>
          <tr>
            <th>Légume</th>
            <th>CA</th>
            <th>% CA</th>
          </tr>
        </thead>
        <tbody>
          <% @tous_legumes_parca[@secondhalf..@nb_legumes].each do |legume| %>
          <tr>
            <td><%= link_to legume_path(legume[:legume_css]) do %> <%= legume[:nom] %> <% end %></td>
            <td><%= number_with_precision(legume[:calegume], precision: 2) %> €</td>
            <td><%= number_with_precision(legume[:pourcentage_ca], precision: 2) %> %</td>
            <td>
              <% if legume[:commentaires] %>
                <button type="button" data-toggle="modal" data-target="#ModalCenter<%= legume[:legume_css] %>">
                  <i class="fas fa-comment-alt"></i>
                </button>
                <div class="modal fade" id="ModalCenter<%= legume[:legume_css] %>" tabindex="-1" role="dialog" aria-labelledby="ModalCenterTitle" aria-hidden="true">
                  <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content modal-commentaires-index-legumes">
                      <div class="modal-header">
                        <h5 class="modal-title" id="modalLongTitle"><%= legume[:nom] %></h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Fermer">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body commentaires-liste">
                        <ul>
                          <% legume[:commentaires].each do |date, description| %>
                            <li>
                              <div class="date-commentaire"><%= date.to_date.strftime("%d/%m") %></div>
                              <div class="contenu-commentaire"><%= description %></div>
                            </li>
                          <% end %>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              <% end %>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
  <div class="tous-legumes-sem">
    <%= column_chart ca_legume_semaine_charts_path, id: "chart-legume-semaine", width: "800px", stacked: true, colors: @colors %>
    <div class="separateur-paniers-ventes"></div>
    <div class="table-index-legume-vente mt-5 mb-5">
      <table class="table-index-legume-titre">
          <thead>
            <tr>
              <th class="planche-sem-title">Planche</th>
            </tr>
          </thead>
          <tbody>
            <% @legumes.sort_by(&:legume_css).each do |legume| %>
              <tr>
                <td><%= link_to legume_path(legume) do %> <%= legume.nom %> <% end %></td>
              </tr>
            <% end %>
          </tbody>
      </table>
      <div class="table-data">
        <table class="table-show-legume">
            <thead>
              <tr>
                <% @weeks.each do |week| %>
                  <th>
                    S<%= week %>
                  </th>
                <% end %>
              </tr>
            </thead>
            <tbody>
              <% @legumes.sort_by(&:legume_css).each do |legume| %>
                  <tr>
                <% legume.total_legume_semaine.each do |_sem, total| %>
                    <td><%= number_with_precision(total, precision: 2) %> €</td>
                <% end %>
                  </tr>
              <% end %>
            </tbody>
        </table>
      </div>
    </div>
  </div>

</div>
