<%= render 'shared/navbar' %>
<div class="container">
  <h2>Les légumes</h2>
</div>
<div class="img-legumes">
<%= image_tag "radis.jpg", class: "radis" %>
<%= image_tag "aubergine.jpg", class: "aubergine" %>
<%= image_tag "oignon.jpg", class: "oignon" %>
</div>
<div class="container">
  <div class="tous-legumes">
    <div class="liste-legume">
    <ul>
    <% @legumes.take(28).each do |legume| %>
      <li>
      <%= legume.nom %>
      </li>
    <% end  %>
    </ul>
    </div>

    <div class="liste-legume">
      <ul>
      <% @legumes.last(28).each do |legume| %>
        <li>
        <%= legume.nom %>
        </li>
      <% end  %>
      </ul>
    </div>
  </div>
</div>

