<%= render 'shared/navbar' %>
<div class="container mt-4">
  <h2>Les légumes</h2>
</div>
<div class="img-legumes">
  <%= image_tag "radis.jpg", class: "radis" %>
  <%= image_tag "aubergine.jpg", class: "aubergine" %>
  <%= image_tag "oignon.jpg", class: "oignon" %>
</div>
<div class="container">
  <div class="tri-legume">
    <div id="par-sem-legume">Par semaine <i class="fas fa-calendar-alt"></i></i></div>
    <div id="par-nom-legume">Nom de légume <i class="fas fa-sort-alpha-down"></i></div>
    <div id="par-ca-legume">CA de légume <i class="fas fa-sort-amount-down"></i></div>
  </div>

  <div class="tous-legumes">
    <div class="liste-legume mr-3">
      <table class="tous-legumes-table">
        <thead>
          <tr>
            <th>Légume</th>
            <th>CA</th>
            <th>% CA</th>
          </tr>
        </thead>
        <tbody>
          <% @tous_legumes_parlegume[0...@firsthalf].each do |legume| %>
          <tr>
            <td><%= link_to legume_path(legume[:legume_css]) do %> <%= legume[:nom] %> <% end %></td>
            <td><%= number_with_precision(legume[:calegume], precision: 2) %> €</td>
            <td><%= number_with_precision(legume[:pourcentage_ca], precision: 2) %> %</td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <div class="liste-legume mr-3">
      <table class="tous-legumes-table">
        <thead>
          <tr>
            <th>Légume</th>
            <th>CA</th>
            <th>% CA</th>
          </tr>
        </thead>
        <tbody>
          <% @tous_legumes_parlegume[@secondhalf..@nb_legumes].each do |legume| %>
          <tr>
            <td><%= link_to legume_path(legume[:legume_css]) do %> <%= legume[:nom] %> <% end %></td>
            <td><%= number_with_precision(legume[:calegume], precision: 2) %> €</td>
            <td><%= number_with_precision(legume[:pourcentage_ca], precision: 2) %> %</td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>


  <div class="tous-legumes-ca hidden">
    <div class="liste-legume mr-3">
      <table class="tous-legumes-table">
        <thead>
          <tr>
            <th>Légume</th>
            <th>CA</th>
            <th>% CA</th>
          </tr>
        </thead>
        <tbody>
          <% @tous_legumes_parca[0..@firsthalf].each do |legume| %>
          <tr>
            <td><%= link_to legume_path(legume[:legume_css]) do %> <%= legume[:nom] %> <% end %></td>
            <td><%= number_with_precision(legume[:calegume], precision: 2) %> €</td>
            <td><%= number_with_precision(legume[:pourcentage_ca], precision: 2) %> %</td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <div class="liste-legume mr-3">
      <table class="tous-legumes-table">
        <thead>
          <tr>
            <th>Légume</th>
            <th>CA</th>
            <th>% CA</th>
          </tr>
        </thead>
        <tbody>
          <% @tous_legumes_parca[@secondhalf..-1].each do |legume| %>
          <tr>
            <td><%= link_to legume_path(legume[:legume_css]) do %> <%= legume[:nom] %> <% end %></td>
            <td><%= number_with_precision(legume[:calegume], precision: 2) %> €</td>
            <td><%= number_with_precision(legume[:pourcentage_ca], precision: 2) %> %</td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>


</div>
