<%= render 'shared/navbar' %>
<div class="container mt-4">
  <h2>Les légumes</h2>
  <% h = Hash.new { |h,k| h[k] = "".to_i } %>
</div>
<div class="img-legumes">
  <%= image_tag "radis.jpg", class: "radis" %>
  <%= image_tag "aubergine.jpg", class: "aubergine" %>
  <%= image_tag "oignon.jpg", class: "oignon" %>
</div>
<div class="container">
  <div class="tous-legumes">
    <div class="liste-legume mr-3">
      <ul>
        <% @legumes.sort_by(&:legume_css).first(29).each do |legume| %>
          <% duree = [] %>
          <% planches = [] %>
          <li>
            <% legume.activites.each do |activite| %>
              <% activite.planche.nil? ? "" : planches << activite.planche.nom  %>
              <% duree << activite.heure_fin - activite.heure_debut %>
            <% end %>
            <% duree = duree.sum %>
            <% h[legume.nom] += duree %>
            <div class="wrapper-legumes">
              <div><%= link_to legume_path(legume) do %> <%= legume.nom %> <% end %> </div>
              <div><%= planches.uniq.join(", ") %></div>
              <div><%= [duree.to_i/3600, duree.to_i/60%60].map { |t| t.to_s.rjust(2,'0') }.join('h') %></div>
              <div><%= number_with_precision(@lignesdevente.where(["legume_id = ?", legume.id]).map { |ligne| ht_to_ttc(ligne.prixunitaireht) * ligne.quantite }.sum, precision: 2) %> €</div>
              <div>
                <button type="button" data-toggle="modal" data-target="#ModalCenter<%= legume.id %>">
                  <% if legume.commentaires.reject { |commentaire| commentaire.description.empty? }.any? %>
                    <i class="fas fa-comment-alt"></i>
                  <% end %>
                </button>
              </div>
              <div class="modal fade" id="ModalCenter<%= legume.id %>" tabindex="-1" role="dialog" aria-labelledby="ModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="modalLongTitle"><%= legume.nom %></h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Fermer">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body commentaires-liste">
                      <ul>
                        <% legume.commentaires.each do |commentaire| %>
                          <% unless commentaire.description.empty? %>
                            <li>
                              <div class="date-commentaire"><%= commentaire.activite.date.strftime("%d/%m") %></div>
                              <div><%= commentaire.description %></div>
                            </li>
                          <% end %>
                        <% end %>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </li>
        <% end %>
      </ul>
    </div>

    <div class="liste-legume ml-3">
      <ul>
        <% @legumes.sort_by(&:legume_css).last(28).each do |legume| %>
          <% duree = [] %>
          <% planches = [] %>
          <li>
            <% legume.activites.each do |activite| %>
              <% activite.planche.nil? ? "" : planches << activite.planche.nom  %>
              <% duree << activite.heure_fin - activite.heure_debut %>
            <% end %>
            <% duree = duree.sum %>
            <% h[legume.nom] += duree %>
            <div class="wrapper-legumes">
              <div><%= link_to legume_path(legume) do %> <%= legume.nom %> <% end %></div>
              <div><%= planches.uniq.join(", ") %></div>
              <div><%= [duree.to_i/3600, duree.to_i/60%60].map { |t| t.to_s.rjust(2,'0') }.join('h') %></div>
              <div><%= number_with_precision(@lignesdevente.where(["legume_id = ?", legume.id]).map { |ligne| ht_to_ttc(ligne.prixunitaireht) * ligne.quantite }.sum, precision: 2) %> €</div>
              <div>
                <button type="button" data-toggle="modal" data-target="#ModalCenter<%= legume.id %>">
                  <% legume.commentaires.each do |commentaire| %>
                    <% unless commentaire.description.empty? %>
                      <i class="fas fa-comment-alt"></i>
                    <% end %>
                  <% end %>
                </button>
              </div>
              <div class="modal fade" id="ModalCenter<%= legume.id %>" tabindex="-1" role="dialog" aria-labelledby="ModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="modalLongTitle"><%= legume.nom %></h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Fermer">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body commentaires-liste">
                      <ul>
                        <% legume.commentaires.each do |commentaire| %>
                          <% unless commentaire.description.empty? %>
                            <li>
                              <div class="date-commentaire"><%= commentaire.activite.date.strftime("%d/%m") %></div>
                              <div><%= commentaire.description %></div>
                            </li>
                          <% end %>
                        <% end %>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
