<%= render 'shared/navbar' %>

<div class="container mt-4">
  <div class="columns">
    <div class="left-col">
      <div class="titre-legumes"><h2>Les légumes</h2>
        <% h = Hash.new { |h,k| h[k] = "".to_i } %>
      <%= link_to legumes_path do %>
      <div class="voir-tout-recap-legumes">Voir tout</div><% end %></div>
      <ul class=sample-legumes>
      <% @legumes.sample(3).each do |legume| %>
      <% duree = [] %>
        <li>
          <div class="image-legume"> <%= image_tag "#{legume.nom.downcase.tr('éèâï', 'eeai')}.jpg", class: "icone-legume" %>  </div>
          <div class="detail-legume"><%= legume.nom %>
          <% legume.activites.each do |activite| %>
          <%= activite.planche.nom %>
          <% duree << activite.heure_fin - activite.heure_debut %>
          <% end %>
            <% duree = duree.sum %>
            <% h[legume.nom] += duree %>
            <div class="duree-prix-total">
            <div class="time"> <%= Time.at(duree).utc.strftime("%Hh%M") %></div>
              <div class="prix-total">
            </%> Prix total</div></div></div>
        </li>
      <% end %>
      </ul>
      <h2>Les planches</h2>
      <div class="jardins"><div class="jardins-titre"><p>Jardin D (tunnel 1)</p></div>
        <% @planches_d.each do |planche| %>
        <ul class="lignes-planche">
          <li>
          <%= planche.nom %>
          </li>
        <% end %>
        </ul>
      </div>
      <div class="jardins"><div class="jardins-titre"><p>Jardin E (tunnel 2)</p></div>
        <% @planches_e.each do |planche| %>
        <ul class="lignes-planche">
          <li>
          <%= planche.nom %>
          </li>
        <% end %>
        </ul>
      </div>
      <div class="jardins"><div class="jardins-titre"><p>Jardin F (tunnel 3)</p></div>
        <% @planches_f.each do |planche| %>
        <ul class="lignes-planche">
          <li>
          <%= planche.nom %>
          </li>
        <% end %>
        </ul>
      </div>
    </div>
    <div class="right-col">
      <div class="jardins"><div class="jardins-titre"><p>Jardin A</p></div>
        <% @planches_a.each do |planche| %>
        <ul class="lignes-planche">
          <li>
          <%= planche.nom %>
          </li>
        <% end %>
        </ul>
      </div>
      <div class="jardins"><div class="jardins-titre"><p>Jardin B</p></div>
        <% @planches_b.each do |planche| %>
        <ul>
          <li>
          <%= planche.nom %>
          </li>
        <% end %>
        </ul>
      </div>
      <div class="jardins"><div class="jardins-titre"><p>Jardin C</p></div>
        <% @planches_c.each do |planche| %>
        <ul>
          <li>
          <%= planche.nom %>
          </li>
        <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>




