<%= render 'shared/navbar' %>

<div class="container mt-4">
  <div class="columns">
    <div class="left-col">
      <div class="titre-legumes">
        <h2>Les légumes</h2>
        <% h = Hash.new { |h,k| h[k] = "".to_i } %>
        <%= link_to legumes_path do %>
        <div class="voir-tout-recap-legumes">Voir tout</div><% end %>
      </div>
      <ul class=sample-legumes>
        <% @legumes.sample(3).each do |legume| %>
          <% duree = [] %>
          <li>
            <div class="image-legume"> <%= image_tag "#{legume.nom.downcase.tr('éèâï', 'eeai')}.jpg", class: "icone-legume" %>
            </div>
            <% legume.activites.each do |activite| %>
              <% duree << activite.heure_fin - activite.heure_debut %>
            <% end %>
            <% duree = duree.sum %>
            <% h[legume.nom] += duree %>
            <div class="wrapper-recap-legumes detail-legume">
              <div><%= link_to legume_path(legume) do %> <%= legume.nom %> <% end %></div>
              <div><%= [duree.to_i/3600, duree.to_i/60%60].map { |t| t.to_s.rjust(2,'0') }.join('h') %></div>
              <div><%= number_with_precision(@lignesdevente.where(["legume_id = ?", legume.id]).map { |ligne| ht_to_ttc(ligne.prixunitaireht) * ligne.quantite }.sum, precision: 2) %> €</div>
            </div>
          </li>
        <% end %>
      </ul>
      <h2>Les planches</h2>
        <% jardins_left = ["Jardin D", "Jardin E", "Jardin F"] %>
        <% @jardins.select { |jardin, _value| jardins_left.include?(jardin)}.each do |jardin, planches| %>
          <div class="jardins">
            <div class="jardins-titre"><p><%= jardin %></p></div>
            <ul class="lignes-planche">
              <% planches.each do |planche| %>
                <li>
                  <% plantations = planche.activites.filter { |activite| activite.nom == "Plantation" } %>
                  <% if plantations.any? %>
                    <% plantations.each do |activite| %>
                      <% if activite.legume != nil? %>
                        <div class="ligne-planche <%= activite.legume.legume_css %>-bg-color">
                          <%= planche.nom %> - <%= link_to legume_path(activite.legume) do %> <%= activite.legume.nom %> <% end %>
                        </div>
                      <% else %>
                        <%= planche.nom %>
                      <% end %>
                    <% end %>
                  <% else %>
                    <%= planche.nom %>
                  <% end %>
                </li>
              <% end %>
            </ul>
          </div>
        <% end %>
    </div>
    <div class="right-col">
      <% jardins_left = ["Jardin A", "Jardin B", "Jardin C"] %>
      <% @jardins.select { |jardin, _value| jardins_left.include?(jardin)}.each do |jardin, planches| %>
        <div class="jardins">
          <div class="jardins-titre"><p><%= jardin %></p></div>
          <ul class="lignes-planche">
            <% planches.each do |planche| %>
              <li>
                <% plantations = planche.activites.filter { |activite| activite.nom == "Plantation" } %>
                <% if plantations.any? %>
                  <% plantations.each do |activite| %>
                    <% if activite.legume != nil? %>
                      <div class="ligne-planche <%= activite.legume.legume_css %>-bg-color">
                        <%= planche.nom %> - <%= link_to legume_path(activite.legume) do %> <%= activite.legume.nom %> <% end %>
                      </div>
                    <% else %>
                      <%= planche.nom %>
                    <% end %>
                  <% end %>
                <% else %>
                  <%= planche.nom %>
                <% end %>
              </li>
            <% end %>
          </ul>
        </div>
      <% end %>
    </div>
  </div>
</div>




