<%= render 'shared/navbar' %>
<div class="container mt-4">
  <div class="top-title-img">
    <h2><%= @legume.nom %>
      <% if @legume.famille.present? %>
        <%= "(#{@legume.famille.downcase})" %>
      <% end %>
        <%= link_to edit_legume_path(@legume) do %>
          <i class="fas fa-pencil-alt title-show-legume"></i>
        <% end %>
    </h2>
    <%= cl_image_tag @legume.photo.key, height: 96, crop: :fill %>
  </div>
  <div class="toutes-activites-show">
    <h3>Récap</h3>
      <div class="recap-show-legume">
        <div class="recap-show-left">
          <div class="recap-titre">Temps de travail</div>
          <div class="recap-donnee"><%= [@dureedulegume.to_i/3600, @dureedulegume.to_i/60%60].map { |t| t.to_s.rjust(2,'0') }.join('h') %></div>
        </div>
        <div class="recap-show-middle">
          <div class="recap-titre">Chiffre d'affaires</div>
          <div class="recap-donnee"><%= number_with_precision(@calegume, precision: 2) %> €</div>
        </div>
        <div class="recap-show-right">
          <div class="recap-titre">Prix général</div>
          <div class="recap-donnee">
            <%= number_with_precision(@legume.prix_general, precision: 2) %> €
          </div>
        </div>
      </div>
      <div class="recap-show-legume">
        <div class="recap-show-left-quantite">
          <div class="recap-titre">Quantité vendue</div>
          <div class="recap-donnee">
            <ul>
              <% @quantitelegume.each do |unite, quantite| %>
                <li>
                  <%= rem_trailing_zero(quantite) %> <%= quantite > 1 && unite != "kg" ? unite.pluralize : unite %>
                </li>
              <% end %>
            </ul>
          </div>
        </div>
        <div class="recap-show-middle">
          <div class="recap-titre">% du CA total</div>
          <div class="recap-donnee"><%= @pourcentagedulegume.nan? ? "0" : @pourcentagedulegume %> %</div>
        </div>
        <div class="recap-show-right">
          <div class="recap-titre">Nb de planches</div>
          <div class="recap-donnee"><%= @planchesdulegume.uniq.length %></div>
        </div>
      </div>
  </div>
</div>




<ul class="nav nav-pills justify-content-center mt-5" id="myTab" role="tablist">
  <li class="nav-item nav-item-show">
    <a class="nav-link active mr-3" id="actions-tab" data-toggle="tab" href="#actions" role="tab" aria-controls="actions" aria-selected="false">Actions</a>
  </li>
  <li class="nav-item nav-item-show">
    <a class="nav-link ml-3" id="commentaires-tab" data-toggle="tab" href="#commentaires" role="tab" aria-controls="commentaires" aria-selected="false">Commentaires</a>
  </li>
  <li class="nav-item nav-item-show">
    <a class="nav-link ml-3" id="photos-tab" data-toggle="tab" href="#photos" role="tab" aria-controls="photos" aria-selected="false">Photos</a>
  </li>
</ul>

<div class="tab-content" id="myTabContent">
  <div class="tab-pane fade show active" id="actions" role="tabpanel" aria-labelledby="actions-tab">
    <div class="actions-liste">
      <ul>
        <% @legume.activites.sort_by(&:date).reverse.each do |activite| %>
          <% t= activite.heure_fin - activite.heure_debut %>
          <% unless activite.nom.empty? %>
            <li>
              <div class="wrapper-activites-show">
                <div class="date-commentaire"><%= activite.date.strftime("%d/%m") %></div>
                <div><%= activite.nom %></div>
                <div><%= activite.planche != nil ? activite.planche.nom : "" %></div>
                <div><%= [t.to_i/3600, t.to_i/60%60].map { |t| t.to_s.rjust(2,'0') }.join('h') %></div>
                <div class="personne-activite">
                  <% if (activite.tag_list.count) > 2 %>
                    <i class="fas fa-user" data-toggle="tooltip" data-placement="top" title="élé"></i>
                    <i class="fas fa-user" data-toggle="tooltip" data-placement="top" title="<%= activite.tag_list.first %>"></i>
                    <i class="fas fa-user-plus" data-toggle="tooltip" data-placement="top" title="<%= activite.tag_list[1..-1] %>"></i>
                  <% else %>
                    <i class="fas fa-user" data-toggle="tooltip" data-placement="top" title="élé"></i>
                    <% activite.tag_list.each do |tag| %>
                      <i class="fas fa-user" data-toggle="tooltip" data-placement="top" title="<%= tag %>"></i>
                    <% end %>
                  <% end %>
                </div>
              </div>
            </li>
          <% end %>
        <% end %>
      </ul>
    </div>
  </div>
  <div class="tab-pane fade" id="commentaires" role="tabpanel" aria-labelledby="commentaires-tab">
    <div class="commentaires-liste">
      <ul>
        <% @legume.commentaires.each do |commentaire| %>
          <% unless commentaire.description.empty? %>
            <li>
              <div class="wrapper-commentaires-show">
                <div class="date-commentaire"><%= commentaire.activite.date.strftime("%d/%m") %></div>
                <div class="contenu-commentaire"><%= commentaire.description %></div>
              </div>
            </li>
          <% end %>
        <% end %>
      </ul>
    </div>
  </div>
  <div class="tab-pane fade" id="photos" role="tabpanel" aria-labelledby="photos-tab">
    <div class="photos-show-legume">
      <% @activites.each do |activite| %>
        <% activite.photos.each do |photo| %>
          <figure class="gallery_item gallery_item-1">
            <%= cl_image_tag photo.key, crop: :fill, :title => activite.date.strftime("%d/%m"), class: "gallery_img" %>
          </figure>
        <% end %>
      <% end %>
    </div>
  </div>
</div>


