<%= render 'shared/navbar' %>
<div class="container mt-4 mb-4">
  <div class="titre-recap">
    <h2>Les planches</h2>
    <%= link_to legumes_recap_path do %>
      <div class="voir-tout-recap">Récap</div>
    <% end %>
  </div>
  <!-- <div class="colonnes-de-planches">
    <div class="planches-par-nom">
      <ul class="lignes-toutes-planches mt-4">
        <h3>Par nom</h3>
        <% @planches[0..-2].each do |planche| %>
          <li>
            <div class="details-planches">
              <div class="nom-planche">
                <%= planche.nom %>
              </div>
                <div class="infos-ventes-planches">
                  <div class="total-ventes-planche"><%= number_with_precision(@lignesgroupees[planche][:total], precision: 2) %> €</div>
                  <div class="pourcentage-ventes-planche"><%= number_with_precision((@lignesgroupees[planche][:total]*100).fdiv(@catotal).round(2), precision: 2) %> %</div>
                </div>
            </div>
          </li>
        <% end %>
      </ul>
    </div>

    <div class="planches-par-ca">
      <ul class="lignes-toutes-planches mt-4">
        <h3>Par CA</h3>
        <% @lignesgroupees.sort_by{ |k, v| v[:total]}.reverse.each do |planche| %>
          <li>
            <div class="details-planches">
              <div class="nom-planche">
                <button type="button" data-toggle="collapse" data-target="#collapseplanche-detail<%=planche[0].nom%>" aria-expanded="false" aria-controls="collapseplanche-detail<%=planche[0].nom%>">
                  <%= planche[0].nom %>
                </button>
              </div>
                <div class="infos-ventes-planches">
                  <div class="total-ventes-planche"><%= number_with_precision(planche[1][:total], precision: 2) %> €</div>
                  <div class="pourcentage-ventes-planche"><%= number_with_precision((planche[1][:total]*100).fdiv(@catotal).round(2), precision: 2) %> %</div>
                </div>
            </div>
          </li>
          <div class="collapse" id="collapseplanche-detail<%=planche[0].nom%>">
            <% unless planche[1][:legumes].empty? %>
              <li>
                <div class="nom-planche">
                  <% planche[1][:legumes].each do |legume| %>
                    <em><%= legume %></em>
                  <% end %>
                </div>
              </li>
            <% end %>
          </div>
        <% end %>
      </ul>
    </div>

  </div>
</div>
 -->

<div class="colonnes-de-planches">
  <div class="planches-par-nom">
    <ul>
      <% @planches.each do |planche| %>
        <li>
          <button type="button" data-toggle="collapse" data-target="#collapseplanches" aria-expanded="false" aria-controls="collapseplanches">
            <%= planche.nom %>
          </button>
          <div class="collapse" id="collapseplanches">
            <% planche.previsionnel_planches.each do |previ| %>
              <% unless previ.nil? %>
                <i class="fas fa-long-arrow-alt-right"></i> <%= previ.legume.nom %>
                <% realise = planche.vente_lignes.select { |ligne| ligne.legume == previ.legume }.map { |ligne| ligne.quantite * ligne.prixunitairettc}.sum + planche.panier_lignes.select { |ligne| ligne.legume == previ.legume }.map { |ligne| ligne.quantite * ligne.prixunitairettc * ligne.panier.quantite}.sum %>
                <% pourcent_previ_realise = number_with_precision((realise*100)/previ.total_previ, precision: 2) %>
                <% if pourcent_previ_realise.to_f > 0 %>
                  <div class="progress progress-planches">
                    <div class="progress-bar bg-success" role="progressbar" style="width:<%=pourcent_previ_realise%>%" aria-valuenow="<%=pourcent_previ_realise%>" aria-valuemin="0" aria-valuemax="100"><%=pourcent_previ_realise%> %</div>
                  </div>
                <% end %>
                <table class="diff-previ-ca">
                  <tr>
                    <td><%= number_with_precision(previ.total_previ, precision: 2) %> €</td>
                    <td><%= number_with_precision(realise, precision: 2) %> €</td>
                    <td><%= (realise - previ.total_previ) > 0 ? "+#{number_with_precision((realise - previ.total_previ), precision: 2)}" : "#{number_with_precision((realise - previ.total_previ), precision: 2)}" %> €</td>
                  </tr>
                </table>
              <% end %>
            <% end %>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
  <div class="planches-par-ca">
    <ul>
      <% @legumes.sort_by(&:legume_css).each do |legume| %>
        <li>
          <button type="button" data-toggle="collapse" data-target="#collapselegumes" aria-expanded="false" aria-controls="collapselegumes">
            <%= legume.nom %>
          </button>
          <br>
          <div class="collapse" id="collapselegumes">
            <% legume.previsionnel_planches.each do |previ| %>
              <% unless previ.nil? %>
                <i class="fas fa-long-arrow-alt-right"></i> <%= previ.planche.nom %>
                <% realise = legume.vente_lignes.select { |ligne| ligne.planche == previ.planche }.map { |ligne| ligne.quantite * ligne.prixunitairettc}.sum + legume.panier_lignes.select { |ligne| ligne.planche == previ.planche }.map { |ligne| ligne.quantite * ligne.prixunitairettc * ligne.panier.quantite}.sum %>
                <% pourcent_previ_realise = number_with_precision((realise*100)/previ.total_previ, precision: 2) %>
                <% if pourcent_previ_realise.to_f > 0 %>
                  <div class="progress progress-planches">
                    <div class="progress-bar bg-success" role="progressbar" style="width:<%=pourcent_previ_realise%>%" aria-valuenow="<%=pourcent_previ_realise%>" aria-valuemin="0" aria-valuemax="100"><%=pourcent_previ_realise%> %</div>
                  </div>
                <% end %>
                <table class="diff-previ-ca">
                  <tr>
                    <td><%= number_with_precision(previ.total_previ, precision: 2) %> €</td>
                    <td><%= number_with_precision(realise, precision: 2) %> €</td>
                    <td><%= (realise - previ.total_previ) > 0 ? "+#{number_with_precision((realise - previ.total_previ), precision: 2)}" : "#{number_with_precision((realise - previ.total_previ), precision: 2)}" %> €</td>
                  </tr>
                </table>
              <% end %>
            <% end %>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>


