<%= render 'shared/navbar' %>
<div class="container mt-4 mb-4">
  <div class="titre-recap">
    <h2>Les planches</h2>
    <%= link_to legumes_recap_path do %>
      <div class="voir-tout-recap">Récap</div>
    <% end %>
  </div>
  <!-- <div class="colonnes-de-planches">
    <div class="planches-par-nom">
      <ul class="lignes-toutes-planches mt-4">
        <h3>Par nom</h3>
        <% @planches[0..-2].each do |planche| %>
          <li>
            <div class="details-planches">
              <div class="nom-planche">
                <%= planche.nom %>
              </div>
                <div class="infos-ventes-planches">
                  <div class="total-ventes-planche"><%= number_with_precision(@lignesgroupees[planche][:total], precision: 2) %> €</div>
                  <div class="pourcentage-ventes-planche"><%= number_with_precision((@lignesgroupees[planche][:total]*100).fdiv(@catotal).round(2), precision: 2) %> %</div>
                </div>
            </div>
          </li>
        <% end %>
      </ul>
    </div>

    <div class="planches-par-ca">
      <ul class="lignes-toutes-planches mt-4">
        <h3>Par CA</h3>
        <% @lignesgroupees.sort_by{ |k, v| v[:total]}.reverse.each do |planche| %>
          <li>
            <div class="details-planches">
              <div class="nom-planche">
                <button type="button" data-toggle="collapse" data-target="#collapseplanche-detail<%=planche[0].nom%>" aria-expanded="false" aria-controls="collapseplanche-detail<%=planche[0].nom%>">
                  <%= planche[0].nom %>
                </button>
              </div>
                <div class="infos-ventes-planches">
                  <div class="total-ventes-planche"><%= number_with_precision(planche[1][:total], precision: 2) %> €</div>
                  <div class="pourcentage-ventes-planche"><%= number_with_precision((planche[1][:total]*100).fdiv(@catotal).round(2), precision: 2) %> %</div>
                </div>
            </div>
          </li>
          <div class="collapse" id="collapseplanche-detail<%=planche[0].nom%>">
            <% unless planche[1][:legumes].empty? %>
              <li>
                <div class="nom-planche">
                  <% planche[1][:legumes].each do |legume| %>
                    <em><%= legume %></em>
                  <% end %>
                </div>
              </li>
            <% end %>
          </div>
        <% end %>
      </ul>
    </div>

  </div>
</div>
 -->

<div class="colonnes-de-planches">
  <div class="planches-par-nom">
    <ul>
      <% @planches[0..-2].each do |planche| %>
        <li>
          <%= planche.nom %>
          <br>
          <% planche.previsionnel_planches.each do |previ| %>
            <% unless previ.nil? %>
              <%= previ.legume.nom %>
              <br>
              => Prévisionnel : <%= previ.total_previ %> €
              <br>
              => Réalisé : <%= planche.vente_lignes.map { |ligne| ligne.quantite * ligne.prixunitairettc}.sum + planche.panier_lignes.map { |ligne| ligne.quantite * ligne.prixunitairettc * ligne.panier.quantite}.sum %> €
              <br>
            <% end %>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
  <div class="planches-par-ca">
    <ul>
      <% @legumes.sort_by(&:nom).each do |legume| %>
        <li>
          <%= legume.nom %>
          <br>
          <% legume.previsionnel_planches.each do |previ| %>
            <% unless previ.nil? %>
              <%= previ.planche.nom %>
              <br>
              => Prévisionnel : <%= number_with_precision(previ.total_previ, precision: 2) %> €
              <br>
              <% realise = legume.vente_lignes.map { |ligne| ligne.quantite * ligne.prixunitairettc}.sum + legume.panier_lignes.map { |ligne| ligne.quantite * ligne.prixunitairettc * ligne.panier.quantite}.sum %>
              => Réalisé : <%= number_with_precision(realise, precision: 2) %> €
              <div class="progress">
                <div class="progress-bar bg-success" role="progressbar" style="width:<%=number_with_precision((realise*100)/previ.total_previ, precision: 2)%>%" aria-valuenow="<%=number_with_precision((realise*100)/previ.total_previ, precision: 2)%>" aria-valuemin="0" aria-valuemax="100"><%=number_with_precision((realise*100)/previ.total_previ, precision: 2)%> %</div>
              </div>
            <% end %>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>


</div>



    <!-- <ul>
      <% @previsionnel_planches.sort_by(&:planche).each do |previ| %>
        <li>
          <%= previ.planche.nom %> - <%= previ.legume.nom %> => <%= previ.total_previ %>
        </li>
      <% end %>
    </ul> -->
