<%= render 'shared/navbar' %>
<div class="container mt-4 mb-4">
  <div class="titre-recap">
    <h2>Les planches</h2>
    <%= link_to legumes_recap_path do %>
      <div class="voir-tout-recap">Récap</div>
    <% end %>
  </div>
  <div class="colonnes-de-planches mt-4">
    <div class="titre-colonne-planches"><h3>Par planche</h3></div>
    <div class="titre-colonne-planches"><h3>Par légume</h3></div>
  </div>
  <div class="colonnes-de-planches">

    <table class="table-planches mt-4">
      <th>
        <td><b>Légume</b></td>
        <td><b>Réalisé</b></td>
        <td><b>Prév.</b></td>
        <td><b>Diff.</b></td>
      </th>
      <% @planches_legumes.each do |planche| %>
        <tr>
          <td><b>
            <%= planche[:planche] %>
          </b></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>

          <% planche[:legumes].each do |legume| %>
            <tr>
              <td></td>
              <td>
                <% if legume[:diff].to_f > 0 %>
                  <div class="text-success"><%= legume[:nom] %></div>
                <% else %>
                  <%= legume[:nom] %>
                <% end %>
              </td>
              <td>
                <% if legume[:diff].to_f > 0 %>
                  <div class="text-success"><%= number_with_precision(legume[:total], precision: 2) %> €</div>
                <% else %>
                  <%= number_with_precision(legume[:total], precision: 2) %> €
                <% end %>
              </td>
              <td><%= number_with_precision(legume[:previ], precision: 2) || number_with_precision(0.00, precision: 2) %> €</td>
              <td><%= number_with_precision(legume[:diff], precision: 2) %> €</td>
              <td></td>
            </tr>
            <% if legume[:pourcentage_previ].to_f > 0 %>
              <tr class="progress-bar-planches">
                <td></td>
                <td></td>
                <td colspan="3">
                  <div class="progress progress-planches">
                    <div class="progress-bar bg-success" role="progressbar" style="width:<%=legume[:pourcentage_previ]%>%" aria-valuenow="<%=legume[:pourcentage_previ]%>" aria-valuemin="0" aria-valuemax="100"><%=number_with_precision(legume[:pourcentage_previ], precision: 2)%> %
                    </div>
                  </div>
                </td>
              </tr>
            <% end %>
          <% end %>

      <% end %>
    </table>

    <table class="table-planches mt-4">
      <th>
        <td><b>Planche</b></td>
        <td><b>Réalisé</b></td>
        <td><b>Prév.</b></td>
        <td><b>Diff.</b></td>
      </th>
      <% @legumes_planches.sort_by {|hashlegume| hashlegume[:legume_css]}.each do |legume| %>
        <tr>
          <td><b>
            <%= legume[:legume] %>
          </b></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>

          <% legume[:planches].each do |planche| %>
            <tr>
              <td></td>
              <td>
                <% if planche[:diff].to_f > 0 %>
                  <div class="text-success"><%= planche[:nom] %></div>
                <% else %>
                  <%= planche[:nom] %>
                <% end %>
              </td>
              <td>
                <% if planche[:diff].to_f > 0 %>
                  <div class="text-success"><%= number_with_precision(planche[:total], precision: 2) %> €</div>
                <% else %>
                  <%= number_with_precision(planche[:total], precision: 2) %> €
                <% end %>
              </td>
              <td><%= number_with_precision(planche[:previ], precision: 2) || number_with_precision(0.00, precision: 2) %> €</td>
              <td><%= number_with_precision(planche[:diff], precision: 2) %> €</td>
              <td></td>
            </tr>
            <% if planche[:pourcentage_previ].to_f > 0 %>
              <tr class="progress-bar-planches">
                <td></td>
                <td></td>
                <td colspan="3">
                  <div class="progress progress-planches">
                    <div class="progress-bar bg-success" role="progressbar" style="width:<%=planche[:pourcentage_previ]%>%" aria-valuenow="<%=planche[:pourcentage_previ]%>" aria-valuemin="0" aria-valuemax="100"><%=number_with_precision(planche[:pourcentage_previ], precision: 2)%> %
                    </div>
                  </div>
                </td>
              </tr>
            <% end %>
          <% end %>

      <% end %>
    </table>
  </div>

